<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/favicon.ico">
  <title>Fondo de Valores Inmobiliarios</title>
  <!-- Fontawesome icon CSS -->
  <link rel="stylesheet" href="/static/vendor/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/vendor/bootstrap4alpha/css/bootstrap.css" type="text/css">
  <!-- DataTables Responsive CSS -->
  <link href="/static/vendor/datatables/css/dataTables.bootstrap4.css" rel="stylesheet">
  <link href="/static/vendor/datatables/css/responsive.dataTables.min.css" rel="stylesheet">
  <!-- jvectormap CSS -->
  <link href="/static/vendor/jquery-jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet">
  <!-- Adminux CSS -->
  <link rel="stylesheet" href="/static/css/blue_header_sidebar_adminux.css" type="text/css">
  <!-- multiselect CSS -->
  <link rel="stylesheet" href="/static/vendor/loumultiselect/css/multi-select.css" type="text/css">
  <!-- Bootstrap multielect CSS -->
  <link rel="stylesheet" href="/static/vendor/bootstrap-multiselect-master/dist/css/bootstrap-multiselect.css" type="text/css">
  <!-- date picker CSS -->
  <link rel="stylesheet" href="/static/vendor/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.css"   type="text/css">
  <link rel="stylesheet" href="/static/css/jquery-ui.css"   type="text/css">
  <!-- Morris Charts CSS -->
  <link href="/static/vendor/morrisjs/morris.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/blue_header_sidebar_adminux.css" type="text/css">


  <body class="menuclose menuclose-right no-menu-show">

<!-- Page Loader -->
<div class="loader_wrapper inner align-items-center text-center">
  <div class="load7 load-wrapper">
    <div class="loading_img"></div>
    <div class="loader"> Loading... </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- Page Loader Ends -->
    <header class="navbar-fixed">
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
        <div class="sidebar-left"> 
          {% if request.session.role_id != 3 %}
          <a class="navbar-brand imglogo" href="{% url 'statistics:statistics' %}"></a>
          <button class="btn btn-link icon-header mr-sm-2 pull-right menu-collapse" >
            <span class="fa fa-bars"></span> 
          </button>
          {% else %}
          <a class="navbar-brand imglogo"></a>
          {% endif %}
        </div>
        <div class="d-flex mr-auto"> &nbsp;</div>
        <div class="sidebar-right pull-right " >
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item">
              <label style="margin-top: 8px; color: white; font-size: 14px;"><label style="font-family: 'Palatino', sans-serif; font-size:16px">{{request.session.user_name}}</label></label>
            </li>
            <li><a href="{% url 'index:destroy_session' %}" class="btn btn-link icon-header" ><span class="fa fa-sign-out"></span></a></li>
          </ul>
        </div>
      </nav>
    </header>



<div class="wrapper-content">
  <figure class="background"><img src="../img/error.png" alt=""></figure>
  <div class="container"> <br>
    <div class="row">
      <div class="col-lg-10 col-md-12 offset-lg-3 offset-md-2">
        <div class="row">
          <div class="form-signin1 light_bg text-center">
            <br>
            <h3 class="display-2 text-danger"><strong>OFFLINE</strong></h3>
            <h2 class="text-danger">Servidor no encontrado</h2>
            <p class="text-white">¡¡Lo siento! No se puede conectar al servidor...</p>
            {% if request.session.role_id == 2 %}
            <a href="{% url 'statistics:statistics' %}" class="btn btn-lg btn-primary btn-round">Regresar</a> 
            {% endif %}
            {% if request.session.role_id == 3 %}
            <a href="{% url 'statistics:cameras' %}" class="btn btn-lg btn-primary btn-round">Regresar</a> 
            {% endif %}
            <br>
            <br>
            
          </div>
        </div>
      </div>
    </div>
  </div>

</div>




    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="/static/js/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui.js" type="text/javascript"></script>
    <script src="/static/vendor/bootstrap4alpha/js/tether.min.js"></script> 
    <script src="/static/vendor/bootstrap4alpha/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.validate.min.js"></script>
    <!--Cookie js for theme chooser and applying it --> 
    <script src="/static/vendor/cookie/jquery.cookie.js"  type="text/javascript"></script>
    <!-- Circular chart progress js --> 
    <script src="/static/vendor/cicular_progress/circle-progress.min.js" type="text/javascript"></script>
    <!--sparklines js--> 
    <script type="text/javascript" src="/static/vendor/sparklines/jquery.sparkline.min.js"></script>
    <!-- jvectormap JavaScript --> 
    <script src="/static/vendor/jquery-jvectormap/jquery-jvectormap.js"></script> 
    <script src="/static/vendor/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script>   
    <!-- chart js --> 
    <script src="/static/vendor/chartjs/Chart.bundle.min.js" type="text/javascript"></script> 
    <script src="/static/vendor/chartjs/utils.js" type="text/javascript"></script> 
    <!-- spincremente js --> 
    <script src="/static/vendor/spincrement/jquery.spincrement.js" type="text/javascript"></script> 
    <script src="/static/vendor/spincrement/jquery.spincrement.min.js" type="text/javascript"></script> 
    <!-- DataTables JavaScript --> 
    <script src="/static/vendor/datatables/js/jquery.dataTables.min.js"></script> 
    <script src="/static/vendor/datatables/js/dataTables.bootstrap4.js"></script> 
    <script src="/static/vendor/datatables/js/dataTables.responsive.min.js"></script> 
    <!--multiselct js--> 
    <script type="text/javascript" src="/static/vendor/loumultiselect/js/jquery.multi-select.js"></script> 
    <!--bootstrap multiselct js--> 
    <script type="text/javascript" src="/static/vendor/bootstrap-multiselect-master/dist/js/bootstrap-multiselect.js"></script>
    <!-- Morris Charts JavaScript --> 
    <script src="/static/vendor/raphael/raphael.min.js"></script> 
    <!--script src="/static/vendor/morrisjs/morris-data.js"></script--> 
    <script src="/static/vendor/morrisjs/morris.min.js"></script> 
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
    <!-- flexslider js --> 
    <script src="/static/vendor/flexslider/jquery.flexslider-min.js" type="text/javascript"></script> 
    <!--multiselct js--> 
    <script type="text/javascript" src="/static/vendor/loumultiselect/js/jquery.multi-select.js"></script> 
    <!--bootstrap multiselct js--> 
    <script type="text/javascript" src="/static/vendor/bootstrap-multiselect-master/dist/js/bootstrap-multiselect.js"></script> 
    <!-- custome template js --> 
    <script src="/static/js/adminux.js" type="text/javascript"></script> 
    <script src="/static/js/dashboard1.js"></script>
    <script src="/static/js/dashboard2.js"></script>
    <script src="/static/js/dashboard1_light.js"></script>


  </body>
  </html>
