
/* Kompanio responsive */

@media only screen and (max-width: 767px) {
#partI, #partII {height: 12vh;}

.vertical-center {
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;

-webkit-box-align : center;
-webkit-align-items : center;
-moz-box-align : center;
-ms-flex-align : center;
align-items : center;

justify-content : center
}

.fit-image{
width: 40%;
object-fit: cover;
}
}
@media only screen and (min-width: 768px) {
#partI, #partII {height: 100vh;}

.vertical-center {
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;

-webkit-box-align : center;
-webkit-align-items : center;
-moz-box-align : center;
-ms-flex-align : center;
align-items : center;

justify-content : center
}

.fit-image{
width: 60%;
object-fit: cover;
}
}
@media only screen and (min-width: 1000px) {
#partI, #partII {height: 130vh;}

.vertical-center {
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;

-webkit-box-align : center;
-webkit-align-items : center;
-moz-box-align : center;
-ms-flex-align : center;
align-items : center;

justify-content : center
}

.fit-image{
width: 60%;
object-fit: cover;
}
}
@media only screen and (min-width: 1500px) {
#partI, #partII {height: 100vh;}

.vertical-center {
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;

-webkit-box-align : center;
-webkit-align-items : center;
-moz-box-align : center;
-ms-flex-align : center;
align-items : center;

justify-content : center
}

.fit-image{
width: 60%;
object-fit: cover;
}
}

.sha {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  opacity: 0.7;
}
/* SWITCH FIXED */

.can-toggle {
  width:150px
}
.can-toggle label .can-toggle__switch:before {
  left: 67px;
  font-size: 12px;
  line-height: 36px;
  width: 67px;
  padding: 0 7px;
}
.can-toggle input[type="checkbox"]:checked ~ label:hover {
  color: #0681c5;
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #0681c5;
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #0681c5;
}

.can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
  background-color: #0681c5;
}

.can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  color: #0681c5;
}

.can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch {
  background-color: #fc5849;
}
.can-toggle label .can-toggle__switch {
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  background: #fc5849;
}
.can-toggle label .can-toggle__switch:after {
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: #fc5849;
}



/*Icono color azul*/
i.toup{
  color: #0681c5;
}


/*Icono color rojo*/
i.todown{
  color:  #fc5849;
}

i.equal{
  color: #ffffff;
}


/*Gradientes de menu*/
.gradient,
li.nav-item.active a.nav-link.active,
body .sidebar-left .nav-link:hover{
      background: linear-gradient(to right, #0681C5 , #F36F2C, #A5BD3C );
}


/*Logo Iniciar sesion superior izquierdo*/
.navbar-brand.imglogo {
  height: 42px;
  width: 166px;
  background: url("../img/FVI/VIKUA.png") no-repeat center left;
  background-size: auto 40px;
  margin-bottom: -5px;
  margin-top: -4px;
}

/* fondo para el logo VIKUA que se muestra mientras carga la pagina */
.loader_wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999999;
  background: black;
  display: flex;
  left: 0;
  top: 0;
  right: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: not-allowed;

}

/* font */
body {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 17px;
}


/*Margen de multiselect*/
.input-group-prepend{
  margin-left: .75rem

}

/* Estilos del login */
.form-control.login{
  background-color: white !important ;
  color: black !important ;
}

#chartdiv{
  width:100%;
  height:400px;

}

.leyend{
  margin: 0 auto;
}

.leyend-tolon{
  display: inline-block;
  margin: -1 0 0 90px;
}

.leyend-llanomall,
.leyend-hatillo{
  display: inline-block;
  margin: 0 0 0 90px;
}

.leyend input{
  transform:scale(1.5);
}


.btn.btn-lg.btn-primary.btn-round,
.tex-black.mb-4{
  margin-left: 55px;
}



/* Container holding the image and the text */
.container-card {
   position: relative;
   text-align: center;
   color: white;
}
.entrada {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px #434343;
}

/* Centered text */
.rel {
   position: absolute;
   top: 45%;
   left: 77%;
   transform: translate(-50%, -50%);
   text-shadow: 1px 1px #434343;
}

.salida {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px #434343;
}

/*Background datepicker*/
.form-control:disabled, .form-control[readonly],
.multiselect.dropdown-toggle.btn.btn-secondary{
  background-color: #2d3e35;
  color: white;
}
