{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{% static 'favicon.ico' %}">
<title>Fondo de Valores Inmobiliarios</title>

<!-- Fontawesome icon CSS -->
<link rel="stylesheet" href="{% static 'vendor/font-awesome-4.7.0/css/font-awesome.min.css' %}" type="text/css">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'vendor/bootstrap4alpha/css/bootstrap.css' %}" type="text/css">

<!-- Adminux CSS -->
<link rel="stylesheet" href="{% static 'css/blue_header_sidebar_adminux.css' %}" type="text/css">

<!-- multielect CSS -->
<link rel="stylesheet" href="{% static 'vendor/loumultiselect/css/multi-select.css' %}" type="text/css">

<!-- Bootstrap multielect CSS -->
<link rel="stylesheet" href="{% static 'vendor/bootstrap-multiselect-master/dist/css/bootstrap-multiselect.css' %}" type="text/css">

<!-- date picker CSS -->
<link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.css' %}"   type="text/css">

</head>
<body class="menuclose menuclose-right">
<!-- Page Loader -->
<div class="loader_wrapper inner align-items-center text-center">
  <div class="load7 load-wrapper">
    <div class="loading_img"></div>
    <div class="loader"> Loading/static. </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- Page Loader Ends -->


<header class="navbar-fixed">

<nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
  <a class="navbar-brand imglogo" href="{% url 'statistics:statistics' %}"></a>
    <button class="btn btn-link icon-header mr-sm-2 pull-right menu-collapse" ><span class="fa fa-bars"></span></button>
  </div>
 
  <div class="d-flex mr-auto"> &nbsp;</div>
  <ul class="navbar-nav content-right">
    
    <li class="v-devider"></li>
    <li class="nav-item active">
      <button class="btn btn-link icon-header "  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-envelope-o"></span> <span class="badge-number bg-success"></span></button>
      <div class="dropdown-menu message-container">
        <div class="list-unstyled"> <a href="#" class="media"> <span class="message_userpic"><img class="d-flex" src="{% static 'img/user-header.png' %}" alt="Generic user image"></span>
          <div class="media-body">
            <h6 class="mt-0 mb-1">Dhananjay Chauhan</h6>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. </div>
          </a> <a href="#" class="media"> <span class="message_userpic"><img class="d-flex" src="{% static 'img/user-header.png' %}" alt="Generic user image"></span>
          <div class="media-body">
            <h6 class="mt-0 mb-1">Max Smith</h6>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. </div>
          </a> <a href="#" class="media"> <span class="message_userpic"><img class="d-flex" src="{% static 'img/user-header.png' %}" alt="Generic user image"></span>
          <div class="media-body">
            <h6 class="mt-0 mb-1">Astha Smith</h6>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. </div>
          </a> <a href="#" class="media"> <span class="message_userpic"><img class="d-flex" src="{% static 'img/user-header.png' %}" alt="Generic user image"></span>
          <div class="media-body">
            <h6 class="mt-0 mb-1">Tommy Cruszii</h6>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. </div>
          </a> <a href="#" class="media"> <span class="message_userpic"><img class="d-flex" src="{% static 'img/user-header.png' %}" alt="Generic user image"></span>
          <div class="media-body">
            <h6 class="mt-0 mb-1">Max Smith</h6>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. </div>
          </a> </div>
      </div>
    </li>
    <li class="nav-item">
      <button class="btn btn-link icon-header badgeCircle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-bell-o"></span><span class="badge-number bg-danger"></span></button>
      <div class="dropdown-menu message-container">
        <div class="list-unstyled">
          <div class="media"> <span class="alert-block bg-primary"><span class="fa fa-bullhorn"></span></span>
            <div class="media-body"><b>Max Smith</b> updated post of <b>Astha Smith</b>. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</div>
          </div>
          <div class="media"> <span class="alert-block bg-warning"><span class="fa fa-bell-o"></span></span>
            <div class="media-body"><b>Max Smith</b> updated post of <b>Astha Smith</b>. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</div>
          </div>
          <div class="media"> <span class="alert-block bg-danger"><span class="fa fa-exclamation-triangle"></span></span>
            <div class="media-body"><b>Max Smith</b> updated post of <b>Astha Smith</b>. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</div>
          </div>
          <div class="media">
            <div class="media-body"><b>Max Smith</b> updated post of <b>Astha Smith</b>. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</div>
          </div>
          <div class="media">
            <div class="media-body"><b>Max Smith</b> updated post of <b>Astha Smith</b>. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</div>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item hidden-xs-down">
      <button class="btn btn-link icon-header " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-th"></span> </button>
      <div class="dropdown-menu message-container box-links">
        <div class="list-unstyled"> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-bullhorn"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-bell-o"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-calendar"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-id-card"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-handshake-o"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-camera-retro"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-flask"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-plane"></span></span> </a> <a href="?#" class="media"> <span class="quick-block "><span class="fa fa-pie-chart"></span></span> </a> </div>
      </div>
    </li>
    <li class="v-devider"></li>
    <li class="nav-item "> <a class="btn btn-link icon-header menu-collapse-right" href="#"><span class="fa fa-podcast"></span> </a> </li>
  </ul>
  <div class="sidebar-right pull-right " >
    <ul class="navbar-nav  justify-content-end">
      <li class="nav-item">
        <button class="btn-link btn userprofile"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="userpic"><img src="{% static 'img/user-header.png' %}" alt="user pic"></span> <span class="text">Maxartkiller</span></button>
        <div class="dropdown-menu"> <a class="dropdown-item" href="customerprofile.html">Profile</a> <a class="dropdown-item" href="#">Analytics Report</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Setting</a> </div>
      </li>
      <li><a href="sign-in2.html" class="btn btn-link icon-header" ><span class="fa fa-sign-out"></span></a></li>
    </ul>
  </div>
</nav>

</header>
<div class="sidebar-left">
  <div class="user-menu-items">
    <div class="list-unstyled btn-group">
      <button class="media btn btn-link dropdown-toggle"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="message_userpic"></span> <span class="media-body"> <span class="mt-0 mb-1">Maxartkiller</span> <small>New Jersey, UK.</small> </span> </button>
      <div class="dropdown-menu"> <a class="dropdown-item" href="customerprofile.html">Profile</a> <a class="dropdown-item" href="inbox.html">Mailbox</a> <a class="dropdown-item" href="#">Application</a> <a class="dropdown-item" href="#">Analytics Report</a> <a class="dropdown-item" href="#">Preferances</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Setting</a> </div>
    </div>
  </div>
  <br>
  <ul class="nav flex-column in" id="side-menu">
    <li class="title-nav">MENU</li>
    <li class="nav-item "> <a href="javascript:void(0)" class="menudropdown nav-link">Dashboard<i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level ">
        <li class=" nav-item">
          <a  href="{%url 'statistics:statistics'%}" class="nav-link ">
            <i class="fa fa-globe"></i> Dashboard General
          </a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{%url 'statistics:networking'%}""><i class="fa fa-dashboard"></i> Reportes</a></li>
      </ul>

    </li>
    <li class="nav-item "> <a href="{%url 'statistics:cameras'%}" class="menudropdown nav-link">Apagar/Encender camaras</a>
    <li class="nav-item "> <a href="{%url 'statistics:activity'%}" class="menudropdown nav-link">Actividades recientes</a>
    <li class="nav-item "> <a href="javascript:void(0)" class="menudropdown nav-link">Configuración<i class="fa fa-angle-down "></i></a>
      <ul class="nav flex-column nav-second-level ">
        <li class=" nav-item"><a  href="{%url 'statistics:user'%}" class="nav-link "><i class="fa fa-user"></i> Usuarios y operadores</a></li>
      </ul>
    </li>
    <li class="nav-item "> <a href="javascript:void(0)" class="menudropdown nav-link">Perfil</a>
    </li>
  </ul>

  <br>
  <br>
</div>
<div class="wrapper-content">
  <div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Actividades recientes</h3>
        
      </div>
     
    </div>
    <br>

    <div class="row">
      
      <div class="col-md-16 col-lg-8 col-xl-8">
        <div class="list-unstyled comment-list timeline" >
          <div class="media">
            <div class="indication text-success"><i class="fa fa-dot-circle-o"></i></div>
            <div class="media-body">
              <h6 class="mb-1">CPU not working at all, Some voice gerated <small> - UK pole office</small></h6>
              11min ago </div>
          </div>
          <div class="media">
            <div class="indication text-warning"><i class="fa fa-dot-circle-o"></i></div>
            <div class="media-body">
              <h6 class="mb-1">Today’s top 50 international songs we all love once in life <small> - Trinity ever trends</small></h6>
              11min ago </div>
          </div>
          <div class="media">
            <div class="indication text-success"><i class="fa fa-dot-circle-o"></i></div>
            <div class="media-body">
              <h6 class="mb-1">Resolving error done in main server port<small> - jUnction center, NJ</small></h6>
              11min ago </div>
          </div>
          <div class="media">
            <div class="indication text-warning"><i class="fa fa-dot-circle-o"></i></div>
            <div class="media-body">
              <h6 class="mb-1">CPU not working at all, Some voice gerated <small> - UK pole office</small></h6>
              11min ago </div>
          </div>
          <div class="media">
            <div class="indication text-danger"><i class="fa fa-dot-circle-o"></i></div>
            <div class="media-body">
              <h6 class="mb-1">Resolving error done in main server port<small> - BTrinity ever trends</small></h6>
              11min ago </div>
          </div>
          <div class="media">
            <div class="indication text-primary"><i class="fa fa-dot-circle-o"></i></div>
            <div class="media-body">
              <h6 class="mb-1">Checkout server 145.63.895.3654 <small> -Trinity ever trends</small></h6>
              11min ago </div>
          </div>
          <div class="media">
            <div class="indication text-primary"><i class="fa fa-dot-circle-o"></i></div>
            <div class="media-body">
              <h6 class="mb-1">Overloaded network usage detected <small> - Southern office</small></h6>
              11min ago </div>
          </div>
          <div class="media">
            <div class="indication text-primary"><i class="fa fa-dot-circle-o"></i></div>
            <div class="media-body">
              <h6 class="mb-1">The search forever, The search forever <small> - gaana.com streaming voice of own</small></h6>
              11min ago </div>
          </div>
          <div class="media">
            <div class="indication text-primary"><i class="fa fa-dot-circle-o"></i></div>
            <div class="media-body">
              <h6 class="mb-1">1024 Card arrived at reception <small> - Jullia Johnsons</small></h6>
              11min ago </div>
          </div>
        </div>
      </div>

      <div class="col-md-16 col-lg-8 col-xl-8">
        <div class="list-unstyled comment-list timeline" >
          <div class="media">
            <div class="indication text-success"><i class="fa fa-dot-circle-o"></i></div>
            <div class="media-body">
              <h6 class="mb-1">CPU not working at all, Some voice gerated <small> - UK pole office</small></h6>
              11min ago </div>
          </div>
          <div class="media">
            <div class="indication text-warning"><i class="fa fa-dot-circle-o"></i></div>
            <div class="media-body">
              <h6 class="mb-1">Today’s top 50 international songs we all love once in life <small> - Trinity ever trends</small></h6>
              11min ago </div>
          </div>
          <div class="media">
            <div class="indication text-success"><i class="fa fa-dot-circle-o"></i></div>
            <div class="media-body">
              <h6 class="mb-1">Resolving error done in main server port<small> - jUnction center, NJ</small></h6>
              11min ago </div>
          </div>
          <div class="media">
            <div class="indication text-warning"><i class="fa fa-dot-circle-o"></i></div>
            <div class="media-body">
              <h6 class="mb-1">CPU not working at all, Some voice gerated <small> - UK pole office</small></h6>
              11min ago </div>
          </div>
          <div class="media">
            <div class="indication text-danger"><i class="fa fa-dot-circle-o"></i></div>
            <div class="media-body">
              <h6 class="mb-1">Resolving error done in main server port<small> - BTrinity ever trends</small></h6>
              11min ago </div>
          </div>
          <div class="media">
            <div class="indication text-primary"><i class="fa fa-dot-circle-o"></i></div>
            <div class="media-body">
              <h6 class="mb-1">Checkout server 145.63.895.3654 <small> -Trinity ever trends</small></h6>
              11min ago </div>
          </div>
          <div class="media">
            <div class="indication text-primary"><i class="fa fa-dot-circle-o"></i></div>
            <div class="media-body">
              <h6 class="mb-1">Overloaded network usage detected <small> - Southern office</small></h6>
              11min ago </div>
          </div>
          <div class="media">
            <div class="indication text-primary"><i class="fa fa-dot-circle-o"></i></div>
            <div class="media-body">
              <h6 class="mb-1">The search forever, The search forever <small> - gaana.com streaming voice of own</small></h6>
              11min ago </div>
          </div>
          <div class="media">
            <div class="indication text-primary"><i class="fa fa-dot-circle-o"></i></div>
            <div class="media-body">
              <h6 class="mb-1">1024 Card arrived at reception <small> - Jullia Johnsons</small></h6>
              11min ago </div>
          </div>
        </div>
      </div>
    </div>
    </div>



  </div>
  
</div>
<div class="search-block">
  <button class="close-btn btn btn-link"><span class="fa fa-times"></span></button>
  <div class="container">
    <div class="row">
      <form class="form-inline pull-left search-block-form">
        <input class="form-control " type="text" placeholder="Search/static." value="Adminux by Maxartkiller " autofocus>
        <button class="btn btn-link icon-header " type="submit"><span class="fa fa-search"></span></button>
      </form>
    </div>
    <div class="row">
      <div class="col ">
        <ul class="nav flex-column ">
          <li class="title-nav">Search result for "Adminux by Maxartkiller"</li>
          <li class=""><br>
          </li>
          <li class="nav-item">
            <div class="list-unstyled search-list"> <a href="#" class="media">
              <div class="media-body">
                <h6 class="mt-0 mb-1">Beautiful admin template ever</h6>
                http://www.maxartkiller.in <br>
                <p class="description">Bootstrape 4 based creatively hand crafter admin tempolate never seen before. #1 template in UI design and experience it provides.</p>
              </div>
              </a> <a href="#" class="media">
              <div class="media-body">
                <h6 class="mt-0 mb-1">Beautiful admin template ever</h6>
                http://www.maxartkiller.in <br>
                <p class="description">Bootstrape 4 based creatively hand crafter admin tempolate never seen before. #1 template in UI design and experience it provides.</p>
              </div>
              </a> <a href="#" class="media">
              <div class="media-body">
                <h6 class="mt-0 mb-1">Beautiful admin template ever</h6>
                http://www.maxartkiller.in <br>
                <p class="description">Bootstrape 4 based creatively hand crafter admin tempolate never seen before. #1 template in UI design and experience it provides.</p>
              </div>
              </a> </div>
          </li>
        </ul>
      </div>
      <br>
    </div>
    <div class="row">
      <div class="col "> <br>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item"> <a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> <span class="sr-only">Previous</span> </a> </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"> <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span> </a> </li>
          </ul>
        </nav>
        <hr>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-16 col-lg-16 col-xl-8">
        <div class="card full-screen-container">
          <div class="card-header align-items-start justify-content-between flex">
            <h5 class="card-title  pull-left">Popular People</h5>
          </div>
          <div class="card-block">
            <div class="list-unstyled member-list row">
              <div class="col-lg col-sm-8 col-xs-16 ">
                <div class="media flex-column "> <span class="message_userpic"><img class="d-flex" src="{% static 'img/user-header.png' %}" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Astha Smith</h6>
                    New Jersey, UK
                    <p class="description">This is awesome product and, I am very happy</p>
                  </div>
                  <div class="overlay align-items-center">
                    <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                    <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
                  </div>
                </div>
              </div>
              <div class="col-lg col-sm-8 col-xs-16 ">
                <div class="media flex-column "> <span class="message_userpic"><img class="d-flex" src="{% static 'img/user-header.png' %}" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Rahul Akshay </h6>
                    New Jersey, UK
                    <p class="description">This is awesome product and, I am very happy</p>
                  </div>
                  <div class="overlay align-items-center">
                    <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                    <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
                  </div>
                </div>
              </div>
              <div class="col-lg col-sm-8 col-xs-16 ">
                <div class="media flex-column "> <span class="message_userpic"><img class="d-flex" src="{% static 'img/user-header.png' %}" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">Rocky Jolly</h6>
                    New Jersey, UK
                    <p class="description">This is awesome product and, I am very happy</p>
                  </div>
                  <div class="overlay align-items-center">
                    <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
                    <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-16 col-lg-16 col-xl-8">
        <div class="card full-screen-container">
          <div class="card-header align-items-start justify-content-between flex">
            <h5 class="card-title  pull-left">Popular Project</h5>
          </div>
          <div class="card-block">
            <div class="list-unstyled project-list row">
              <div class="col-md-16 col-lg-8 col-xl-8">
                <div class="media flex-column "> <span class="projectpic"><img src="{% static 'img/project_pic.jpg' %}" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="overlay ">
                    <label class="ribbon left danger"><span>Maxartkiller</span></label>
                    <h6 class="mt-0 mb-1">Website Design</h6>
                    2017 <br>
                    <br>
                    <a href="#" class="btn btn-outline-white btn-round "><i class="fa fa-eye"></i>View </a> </div>
                </div>
              </div>
              <div class="col-md-16 col-lg-8 col-xl-8">
                <div class="media flex-column "> <span class="projectpic"><img src="{% static 'img/project_pic.jpg' %}" alt="Generic user image"> <span class="user-status bg-success "></span></span>
                  <div class="overlay ">
                    <label class="ribbon left danger"><span>Maxartkiller</span></label>
                    <h6 class="mt-0 mb-1">Website Design</h6>
                    2017 <br>
                    <br>
                    <a href="#" class="btn btn-outline-white btn-round "><i class="fa fa-eye"></i>View </a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sidebar-right">
<ul class="nav flex-column " >
  <li class="nav-item text-center">
    <div class="progressprofile">
      <div class="progress_profile " data-value="0.65"  data-size="140"  data-thickness="4"  data-animation-start-value="0" data-reverse="false" ></div>
      <div class="user-details">
        <figure><img src="{% static 'img/user-header.png' %}" alt="complete profile"></figure>
        <h5>65%</h5>
        <p class="">Completed</p>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="meeting-subject text-center col ">You have lots of oopportunity and <br>
      other information pending  to recieve</div>
    <div class="nav-link"><a href="customerprofile.html" class="btn btn-outline-primary btn-round mr-sm-2">Complete your profile <i class="fa fa-chevron-right"></i></a></div>
  </li>
</ul>
<hr>
<ul class="nav flex-column " >
  <li class="title-nav">New Friend Request</li>
  <li class="nav-item">
    <div class="list-unstyled media-list">
      <div class="media"> <span class="message_userpic"><img class="d-flex" src="{% static 'img/user-header.png' %}" alt="Generic user image"></span>
        <div class="media-body">
          <h6 class="mt-0 mb-1">Dhananjay Chauhan</h6>
          New Jersey, UK</div>
        <div class="overlay align-items-end">
          <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
          <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
        </div>
      </div>
      <div class="media"> <span class="message_userpic"><img class="d-flex" src="{% static 'img/user-header.png' %}" alt="Generic user image"><span class="user-status bg-success "></span></span>
        <div class="media-body">
          <h6 class="mt-0 mb-1">Astha Smith</h6>
          Ahemedabad, IN</div>
        <div class="overlay align-items-end">
          <button class="btn btn-success btn-round mr-2"><i class="fa fa-check"></i></button>
          <button class="btn btn-danger mr-2 btn-round "><i class="fa fa-close"></i></button>
        </div>
      </div>
    </div>
  </li>
</ul>
<hr>
<ul class="nav flex-column " >
  <li class="title-nav">New Event Request</li>
  <li class="nav-item">
    <div class="list-unstyled media-list"> <a href="#" class="media">
      <div class="media-body">
        <h6 class="mt-0 mb-1">20 February, 2017</h6>
        New Jersey, UK <br>
        <p class="description">Musical night festival seasons, Drama and comedy cultural famil</p>
      </div>
      </a> <a href="#" class="media">
      <div class="media-body">
        <h6 class="mt-0 mb-1">20 February, 2017</h6>
        New Jersey, UK <br>
        <p class="description">Musical night festival seasons, Drama and comedy cultural famil</p>
        <p class="description"> <span>Privately invited by:</span> <span class="invites-by"><img src="{% static 'img/user-header.png' %}" alt="complete profile"> <span class="user-status bg-success "></span></span> <span class="invites-by"><img src="{% static 'img/user-header.png' %}" alt="complete profile"></span> <span class="invites-by"><img src="{% static 'img/user-header.png' %}" alt="complete profile"></span> </p>
      </div>
      </a> </div>
  </li>
</ul>
<hr>
<ul class="nav flex-column " >
  <li class="title-nav">Last Message</li>
  <li class="nav-item">
    <div class="list-unstyled media-list">
      <div class="media"> <span class="message_userpic"><img class="d-flex" src="/static/img/user-header.png" alt="Generic user image"></span>
        <div class="media-body">
          <h6 class="mt-0 mb-1">Rahul Akshay</h6>
          2:00 pm, 20 January, 2017 <br>
          <p class="description">Hi! Are you ready for Musical night festival seasons, Drama and comedy cultural family show.</p>
          <button class="btn btn-outline-primary btn-round mr-sm-2"><i class="fa fa-reply"></i> Reply</button>
          <button class="btn btn-outline-danger btn-round ">Close</button>
        </div>
      </div>
    </div>
    <div class="nav-link"></div>
  </li>
</ul>
<hr>
<ul class="nav flex-column " >
  <li class="title-nav text-center">Advertising space</li>
  <li class="nav-item">
    <div class="list-unstyled"> <a href="http://www.maxartkiller.in" target="_blank" class="media text-center"> <span class="col text-center"><img class="" src="/static/img/advertise_maxartkiller_ui-ux.png" alt="advertise maxartkiller ui ux creative design"></span> <br>
      </a> </div>
    <a href="http://www.maxartkiller.in" target="_blank" class="nav-link text-center">www.maxartkiller.in</a> </li>
</ul>
<br>
<br>

</div>

 
<!-- themepicker modal starts -->
<div class="modal fade" id="themepicker" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select your Preferances</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <table class="table color_pick_table mb-0">
          <thead>
            <tr>
              <th class="p-0"></th>
              <th class="p-0"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="">Fills</td>
              <td>
                   <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#fullcolored" role="tab"><img src="/static/img/Layout_Fill_all.png" alt="" class="responsive-img"></a> </li>
                      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#headersidebarfill" role="tab"><img src="/static/img/Layout_Fill_side_header.png" alt="" class="responsive-img"></a> </li>
                      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#sidebarfill" role="tab"><img src="/static/img/Layout_Fill_side.png" alt="" class="responsive-img"></a> </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content ">
                        <div class="tab-pane active" id="fullcolored" role="tabpanel">
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="/static/img/screens12.png" alt="" class="color_pick"><br><span>White</span></span> 
                            </label>   
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="lightblue_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="/static/img/screens14.png" alt="" class="color_pick"><br><span>Lightblue</span></span> 
                            </label>   
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="dark_blue_adminux" name="color_pick" >
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="/static/img/screens1.png" alt="" class="color_pick"><br><span>Dark Blue</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="dark_purple_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="/static/img/screens7.png" alt="" class="color_pick"><br><span>Dark Purple</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="dark_red_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="/static/img/screens8.png" alt="" class="color_pick"><br><span>Dark Red</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="dark_grey_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="/static/img/screens9.png" alt="" class="color_pick"><br><span>Dark Grey</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="dark_green_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="/static/img/screens10.png" alt="" class="color_pick"><br><span>Dark Green</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="dark_brown_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="/static/img/screens11.png" alt="" class="color_pick"><br><span>Brown</span></span> 
                            </label>                              
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="blue_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><img src="/static/img/screens15.png" alt="" class="color_pick"><br><span>Blue</span></span> 
                            </label>
                        </div>
                      <div class="tab-pane" id="headersidebarfill" role="tabpanel">
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="blue_header_sidebar_adminux" name="color_pick"  checked>
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="/static/img/themes/2screens15.png" alt="" class="color_pick"><br>
                                <span>Blue</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+blue_header_sidebar_adminux" name="color_pick" >
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="/static/img/themes/2screens1.png" alt="" class="color_pick"><br>
                                <span>Dark Blue</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+purple_header_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="/static/img/themes/2screens7.png" alt="" class="color_pick"><br>
                                <span>Dark Purple</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+red_header_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="/static/img/themes/2screens8.png" alt="" class="color_pick"><br>
                                <span>Dark Red</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+grey_header_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="/static/img/themes/2screens9.png" alt="" class="color_pick"><br>
                                <span>Dark Grey</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+green_header_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="/static/img/themes/2screens10.png" alt="" class="color_pick"><br>
                                <span>Dark Green</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+brown_header_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="/static/img/themes/2screens11.png" alt="" class="color_pick"><br>
                                <span>Brown</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="/static/img/screens12.png" alt="" class="color_pick"><br>
                                <span>White</span></span> 
                            </label> 
                        
                        </div>
                        <div class="tab-pane" id="sidebarfill" role="tabpanel"> 
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="blue_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="/static/img/themes/3screens15.png" alt="" class="color_pick"><br>
                                <span> Blue</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+blue_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="/static/img/themes/3screens1.png" alt="" class="color_pick"><br>
                                <span>Dark Blue</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+purple_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="/static/img/themes/3screens7.png" alt="" class="color_pick"><br>
                                <span>Dark Purple</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+red_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="/static/img/themes/3screens8.png" alt="" class="color_pick"><br>
                                <span>Dark Red</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+grey_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="/static/img/themes/3screens9.png" alt="" class="color_pick"><br>
                                <span>Dark Grey</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+green_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="/static/img/themes/3screens10.png" alt="" class="color_pick"><br>
                                <span>Dark Green</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light+brown_sidebar_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="/static/img/themes/3screens11.png" alt="" class="color_pick"><br>
                                <span>Brown</span></span> 
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input select-color" data-color="light_adminux" name="color_pick">
                                <span class="custom-control-indicator"></span> <span class="custom-control-description"><img src="/static/img/screens12.png" alt="" class="color_pick"><br>
                                <span>White</span></span> 
                            </label>
                        </div>
                    </div>

                  
                  
                </td>
            </tr>
            <tr>
              <td>Reading</td>
              <td>
                  <label class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input select-reading" name="read_style" data-reading="ltr-read" checked>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description"><img src="/static/img/Layout_LTR.png" alt="" class="color_pick"><br><span>Left to Right</span></span> 
                  </label>
                  <label class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input select-reading" name="read_style" data-reading="rtl-read">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description"><img src="/static/img/Layout_RTL.png" alt="" class="color_pick"><br><span>Right to Left</span></span> 
                  </label>
                </td>
            </tr>
            <tr>
              <td>Display</td>
              <td>
                  <label class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input select-rounded" name="display_mode"  data-rounded="" checked>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description"><img src="/static/img/Layout_Flat_corner.png" alt="" class="color_pick"><br><span>Flat Corner</span></span> 
                  </label>
                  <label class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input select-rounded" data-rounded="rounded" name="display_mode">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description"><img src="/static/img/Layout_more_rounded.png" alt="" class="color_pick"><br><span>More Rounded</span></span> 
                  </label>    
                
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- themepicker modal ends here ! --> 

<!-- jQuery first, then Tether, then Bootstrap JS. -->

<script src="/static/js/jquery-2.1.1.min.js" type="text/javascript"></script>

<script src="/static/vendor/bootstrap4alpha/js/tether.min.js"></script> 

<script src="/static/vendor/bootstrap4alpha/js/bootstrap.min.js" type="text/javascript"></script> 

<!--Cookie js for theme chooser and applying it --> 
<script src="/static/vendor/cookie/jquery.cookie.js"  type="text/javascript"></script> 

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug --> <script src="/static/js/ie10-viewport-bug-workaround.js"></script> 

<!-- Circular chart progress js --> 
<script src="/static/vendor/cicular_progress/circle-progress.min.js" type="text/javascript"></script> 
<!--sparklines js--> 
<script type="text/javascript" src="/static/vendor/sparklines/jquery.sparkline.min.js"></script> 

<!-- spincremente js --> 
<script src="/static/vendor/spincrement/jquery.spincrement.min.js" type="text/javascript"></script> 

<!-- chart js --> 
<script src="/static/vendor/chartjs/Chart.bundle.min.js" type="text/javascript"></script> 
<script src="/static/vendor/chartjs/utils.js" type="text/javascript"></script> 

<!-- flexslider js --> 
<script src="/static/vendor/flexslider/jquery.flexslider-min.js" type="text/javascript"></script> 

<!--multiselct js--> 
<script type="text/javascript" src="/static/vendor/loumultiselect/js/jquery.multi-select.js"></script> 

<!--bootstrap multiselct js--> 
<script type="text/javascript" src="/static/vendor/bootstrap-multiselect-master/dist/js/bootstrap-multiselect.js"></script> 


<!-- custome template js --> 
<script src="/static/js/adminux.js" type="text/javascript"></script> 

<!-- custome page js --> 
<script src="/static/js/dashboard2.js" type="text/javascript"></script>

<!-- Date picker  js--> 
<script type="text/javascript" src="/static/vendor/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js"></script> 


<script>
     "use strict";
    $('#my-select').multiSelect();
    $('#bootstrap_multiselect, #bootstrap_multiselect_single, #bootstrap_multiselect_optgroups').multiselect();
    $('#example-post').multiselect({includeSelectAllOption: true, enableFiltering: true, buttonWidth: '200px' });
</script>
<script>
    "use strict"
    $('.datepicker, .datepicker+button ').datepicker();
</script>
</body>
</html>