{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="wrapper-content">
  <div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Device Managements</h3>
        <p>Modulo de administración de cámaras</p>
      </div>
    </div><br><br>
  <form id="camera">
    <div class="row">
      {% for x in mall_lista %}
      <div class="col-md-5 col-lg-5 align-start">
        <div class="card text-center text-white">
          <div class="p-2 mb-2 gradient">{{x.mall}} </div>
          <div class="card-block">
            <select id="{{x.select_id}}">
             <option value="0">Seleccione</option> 
             {% for dat in x.cam %}
             <option value="{{dat.id}}">
               {{dat.name}}
             </option> 
             {%endfor%}             
           </select>
           <script type="text/javascript">
             $(' #{{x.select_id}}').multiselect({
              onChange: function(option, checked, select) {
                var parametros = {
                  "camera_id" : $(" #{{x.select_id}}").val(),
                  "mall_id" : {{x.mall_id}},
                  "csrfmiddlewaretoken": '{{ csrf_token }}'
                };

                camera_id = $("#{{x.select_id}}");


                if (camera_id.val() === "0")
                {
                  $("#{{x.div_id}}").css('display', 'none');
                }else{
                  $("#{{x.div_id}}").css('display', 'block');
                }

                $.ajax({
                  data:  parametros,
                  url:   '../../statistics/modal/',
                  type:  'post',
                  beforeSend: function () {
                    $("#{{x.div_id}}").html("Procesando, espere por favor...");
                  },
                  success:  function (response) {

                    $("#{{x.div_id}}").html(response);
                  }
                });
              }
            });
          </script>
          <div id ="{{x.div_id}}"></div>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</form> 
</div>
</div>


<!-- Modal Encender-->
<div class="modal fade" id="myModalOn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Encender camara</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body" style="margin: 20px; font-size:16px "> ¿Esta seguro que desea encender la camara 
        <span class="camera_name"></span>? </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button 
        type="button" 
        class="btn btn-primary"
        data-dismiss="modal" 
        style="background-color: #13294b; border-color: #13294b"
        id="modal1Encender">
        Encender
      </button>
    </div>
  </div>
</div>
</div>

<!-- Modal Apagar-->
<div class="modal fade" id="myModalOff" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Apagar camara</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body" style="margin: 20px; font-size:16px "> ¿Esta seguro que desea apagar la camara 
      <span class="camera_name"></span> ? </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button 
        type="button" 
        class="btn btn-primary" 
        data-dismiss="modal" 
        style="background-color: #13294b; border-color: #13294b"
        id="modal1Apagar">
        Apagar
      </button>
    </div>
  </div>
</div>
</div>

<!-- Modal Reset -->
<div class="modal fade" id="myModalReset" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Resetear camara</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body" style="margin: 20px; font-size:16px "> ¿Esta seguro que desea resetear la camara?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" style="background-color: #13294b; border-color:#13294b">Resetear</button>
      </div>
    </div>
  </div>
</div>

<script>

  function set_action_deactivate(id,mall_id){

    var parametros = {
      "camera_id" : id,
      "mall_id" : mall_id,
      "csrfmiddlewaretoken": '{{ csrf_token }}'
    };

    $.ajax({
      data:  parametros,
      url:   '../../statistics/protocolo/',
      type:  'post',
      success:  function (c) {
        var c = JSON.parse(c);

        if (c){
          window.location.replace("../../statistics/cameras");
        }
      
    }
    });

  }
</script>


<script>

  function set_action_activate(id,mall_id){

    var parametros = {
      "camera_id" : id,
      "mall_id" : mall_id,
      "csrfmiddlewaretoken": '{{ csrf_token }}'
    };

    $.ajax({
      data:  parametros,
      url:   '../../statistics/activate/',
      type:  'post',
      success:  function (c) {
        var c = JSON.parse(c);

        if (c){
          window.location.replace("../../statistics/cameras");
        }
      
    }
    });

  }
</script>


{% endblock %}
