{%for data in listx %}
<tr class="odd">
	<td class="center">{{data.mall|title}}</td>
	<td class="center">{{data.cron_name|title}}</td>

	
	<td><a href="{%url 'statistics:cron_update' data.mall_id %}"><button title="Editar Tarea" class="btn btn-success btn-round mr-2"><i class="fa fa-edit"></i></button></a>
          </td>
		
	</tr>
	

	{% endfor %}