{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="wrapper-content">
  <div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3 style="font-family: 'Palatino', sans-serif;">Tarea Programada</h3>

      </div>
      
    </div>
    <div class="card-header align-items-start justify-content-between flex">
      <select id="mall">
        {% if request.session.role_id != 3 %}
        <option value="fvi" selected>FVI</option>
        {% endif %}
        {% for data in mall %}
        <option value="{{data.id}}">{{data.mall_name}}</option> 
        {% endfor %} 
      </select>
      <ul class="nav nav-pills card-header-pills pull-right">
        <li class="nav-item">
         <a href="{%url 'statistics:new_cron'%}"><button type="button" class="btn btn-primary" style="background-color: #000c18; border-color: #000c18">Crear Tarea Programada</button></a>
       </li>
     </ul>
   </div>
    
   <table class="table table-striped table-bordered table-hover" id="dataTables-example">
    <thead>
      <tr>
        <th>Tarea</th>
        <th>C.Comerciales</th>
        <th>Tipo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody id="cron_list">
      {%for data in listx %}
      <tr class="odd">
          
        <td class="center">{{data.cron_name|title}}</td>
        <td class="center">{{data.mall|title}}</td>
        {%if data.type_cron == 1 %}
        <td class="centrado"> Encender Camaras</td> 
        {%elif data.type_cron == 0 %}
        <td class="centrado"> Apagar Camaras</td> 
        {%endif%}
        
        <td><a href="{%url 'statistics:cron_update' data.id %}"><button title="Editar Tarea" class="btn btn-success btn-round mr-2"><i class="fa fa-edit"></i></button></a>
          <a href="{%url 'statistics:cron_delete' data.id %}"><button title="Eliminar Tarea" class="btn btn-danger btn-round mr-2" onclick="return confirm('¿Esta seguro que desea Eliminar la tarea del {{data.mall|title}}?')"><i class="fa fa-remove"></i></button></a>
        </td>

      </tr>


      {% endfor %}

    </tbody>
  </table>



</div>

</div>




<script type="text/javascript">

  $(document).ready(function(){
// Funcion multiselect
$('#mall').multiselect({
  buttonWidth: '20%',
  onChange: function(option, checked, select) {
    var parametros = {
      "mall_id" : $("#mall").val(),
      "csrfmiddlewaretoken": '{{ csrf_token }}'
    };
    $.ajax({
      data:  parametros,
      url:   '../../statistics/cron/filter_cron/',
      type:  'post',
      success:  function (response) {
        $("#cron_list").html(response);
      }
    });

  } 
});

});

</script>

<script>
  "use strict";
  $(document).on('ready', function() {
    $('#dataTables-example').DataTable({
      responsive: true,
      pageLength:10,
      sPaginationType: "full_numbers",
      oLanguage: {
        oPaginate: {
          sFirst: "<<",
          sPrevious: "<",
          sNext: ">", 
          sLast: ">>" 
        }
      }
    });
  });
</script>


{% endblock %}



