{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="wrapper-content">
    <div class="container">
        <div class="row  align-items-center justify-content-between">
            <div class="col-11 col-sm-12 page-title">
                <h3>Dashboard General</h3>
                <p>Resumen de indicadores para entradas y salidas</p>
            </div>
            <!-- <div class="col text-right ">
                <div class="btn-group pull-right">
                    <button class="btn btn-success btn-round " data-toggle="modal" data-target="#themepicker"><span class="text">Tipo de Dashboard</span> <i class="fa fa-cogs ml-2"></i></button>
                </div>
            </div> -->
        </div>
        <div class="row justify-content-center">
            {% for data in list %}
              {% if data.mall_name == 'EL TOLON' %}
                <div class="col-md-5">
                    <div class="container-cards">
                        <img src="{% static 'img/FVI/Tolon/Tolon.png' %}" width="100%">
                        <h3 id="el-tolon-entry" class="entrada"></h3>
                        <h4 id="el-tolon-exit" class="salida"></h4>
                        <h6 id="el-tolon-rel" class="rel"></h6>
                    </div>
                </div>
              {% endif %}

              {% if data.mall_name == 'PASEO EL HATILLO' %}
                <div class="col-md-5">
                    <div class="container-cards">
                        <img src="{% static 'img/FVI/Paseo El Hatillo/el-hatillo.png' %}" width="100%">
                        <h3 id="paseo-el-hatillo-entry" class="entrada"></h3>
                        <h4 id="paseo-el-hatillo-exit" class="salida"></h4>
                        <h6 id="paseo-el-hatillo-rel" class="rel"></h6>
                    </div>
                </div>
              {% endif %}

              {% if data.mall_name == 'LLANO MALL' %}
                <div class="col-md-5">
                    <div class="container-cards">
                        <img src="{% static 'img/FVI/LLano Mall/llano-mall.png' %}" width="100%">
                        <h3 id="llano-mall-entry" class="entrada"></h3>
                        <h4 id="llano-mall-exit" class="salida"></h4>
                        <h6 id="llano-mall-rel" class="rel"></h6>
                    </div>
                </div>
              {% endif %}
            {% endfor %}
        </div>

    </div>

    <div class="row">
        <div class="col-sm-16">
            <div class="card">
                <div class="card-header">
                  {% now "H:i:s" as hour %}
                  {% if hour < "10:00:00" %}
                    <h5 class="card-title  float-left"> Ayer:</h5>
                  {%else%}
                  <h5 class="card-title  float-left"> Hoy:</h5>
                  {%endif%}
                    <div class="card-title float-right" id="button_filter">
                      <button type="button" class="btn btn-outline-info" id="freq-button">
                        Ver Salidas
                      </button>
                    </div>
                </div>

                <div class="card-block">
                    <div id="chartdiv"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-16">
            <div class="card">
                <div class="card-header">
                    {% now "H:i:s" as hour %}
                  {% if hour < "10:00:00" %}
                    <h5 class="card-title  float-left"> Ayer:</h5>
                  {%else%}
                  <h5 class="card-title  float-left"> Hoy:</h5>
                  {%endif%}
                  <div class="row">
                    <div class="col d-flex justify-content-center">
                        <div class="btn-group" data-toggle="buttons">
                          {% if request.session.role_id == 1%}
                            {% for data in list %}
                              {% if data.mall_name == 'EL TOLON' %}
                                <label class="btn btn-primary" id="tolon" aria-pressed="true">
                                  <input type="radio" name="options" id="option1" checked="">
                                    &nbsp Tolon
                                </label>
                              {% endif %}

                              {% if data.mall_name == 'PASEO EL HATILLO' %}
                                <label class="btn btn-primary" id="hatillo" aria-pressed="true">
                                  <input type="radio" name="options" id="option2">
                                    El Hatillo
                                </label>
                              {% endif %}

                              {% if data.mall_name == 'LLANO MALL' %}
                                <label class="btn btn-primary" id="llanomall" aria-pressed="true">
                                  <input type="radio" name="options" id="option3">
                                    Llano Mall
                                </label>
                              {% endif %}
                            {% endfor %}
                          {%else%}
                          <div>&nbsp</div>
                          {%endif %}
                        </div>
                    </div>

                  </div>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="flot-chart">
                                <label class="pull-right">Entradas</label><br>
                                <div class="flot-chart-content" id="flot-pie-chart"></div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="flot-chart">
                                <label class="pull-right">Salidas</label><br>

                                  <div class="flot-chart-content" id="flot-pie-chart2"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

      <div class="col-sm-16">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Detalles <small id="title_detail_table">CONSOLIDADO</small></h5>

          </div>
          <div class="card-header">
          <div class="row">
            <select class="form-control col-sm-4" id="mall_select" style="display: none"></select>
            <select class="form-control col-sm-4 offset-md-1" id="door_select" style="display: none"></select>
        </div>
          </div>
          <div class="card-block">
            <table class="table" id="detail_table"></table>
          </div>
        </div>
      </div>
    </div>

         </div>
      </div>
   </div>

</div>


<div class="modal fade" id="themepicker" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  {% include "statistics/modal_conf_dashboard.html" %}
</div>



{% block extrascript%}
<script type="text/javascript">
  var role = "{{request.session.role_id}}";
  var  mall_role = "{{request.session.mall_id}}";
</script>



<!-- Flot Charts JavaScript -->
<script src="{% static 'vendor/flot/excanvas.min.js' %}"></script>
<script src="{% static 'vendor/flot/jquery.flot.js' %}"></script>
<script src="{% static 'vendor/flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'vendor/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'vendor/flot/jquery.flot.time.js' %}"></script>
<script src="{% static 'vendor/flot-tooltip/jquery.flot.tooltip.min.js' %}"></script>

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


<!-- CUSTOM FILES JS -->
<script src="{% static 'js/dashboard/area_chart.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dashboard/pie_chart.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dashboard/cards.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dashboard/filters.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dashboard/datatable.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/spincrement/jquery.spincrement.min.js' %}" type="text/javascript"></script>

{% endblock %}

{% endblock %}
