{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="wrapper-content">
  <div class="container">
        <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Gestión de Usuarios</h3>
        <p>Modulo para agregar usuarios</p>
      </div>
    </div>
    <form role="form" id='register-form' action="" method="post" class="form-horizontal form-label-left input_mask" autocomplete="off">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-16">
          <div class="card">
            <div class="card-block">
              <h5 class="m-0">Información personal</h5>
              <hr>
              <div class="row justify-content-center">
                <div class="col-md-10 ">
                  <div class="form-group">
                   <div class="input-group">
                     <div class="input-group-addon"><span class="fa fa-user"></span></div>
                     <input type="text" class="form-control" placeholder="Nombre" id="first_name" name="first_name" value="">
                   </div>
                   <span class="help-block" id="error"></span>
                 </div>
                 <div class="form-group">
                   <div class="input-group">
                     <div class="input-group-addon"><span class="fa fa-user"></span></div>
                     <input type="text" class="form-control" placeholder="Apellido" id="last_name" name="last_name" value="">
                   </div>
                   <span class="help-block" id="error"></span>
                 </div>
                 <div class="form-group">
                   <div class="input-group">
                     <div class="input-group-addon"><span class="fa fa-envelope"></span></div>
                     <input type="email" class="form-control" placeholder="Correo" id="email" name="email" value="">
                   </div>
                   <span class="help-block" id="error"></span>
                 </div>
                 <div class="form-group">
                   <div class="input-group">
                     <div class="input-group-addon"><span class="fa fa-mobile"></span></div>
                     <div class="form-inline">
                      <div class="form-group">
                        <select class="select2_single form-control" name="code" id="code" name="code" >
                          <option value="0416">0416</option>
                          <option value="0426">0426</option>
                          <option value="0416">0414</option>
                          <option value="0426">0424</option>
                          <option value="0416">0412</option>
                        </select>
                      </div> -
                      <input type="number" class="form-control" maxlength="7" id="cellphone" name="cellphone" placeholder="Telefono">
                    </div>
                  </div>
                  <span class="help-block" id="error"></span>
                </div>
                <div class="form-group">
                 <div class="input-group">
                   <div class="input-group-addon"><span class="fa fa-key"></span></div>
                   <input type="password" class="form-control" placeholder="Contraseña" id="password" name="password">
                 </div>
                 <span class="help-block" id="error"></span>
               </div>
               <div class="form-group">
                 <div class="input-group">
                   <div class="input-group-addon"><span class="fa fa-key"></span></div>
                   <input name="cpassword" type="password" class="form-control" placeholder="Repetir Contraseña">
                 </div>
                 <span class="help-block" id="error"></span>
               </div>
               <div class="form-group">
                 <div class="input-group">
                   <div class="input-group-addon"><span class="fa fa-bars"></span></div>
                   <select class="form-control" data-live-search="true" tabindex="-1" aria-hidden="true" name="role_id" id="role_id" >
                    <option value="">Seleccione</option>
                    {% for dat in rol %}
                    <option value="{{dat.id}}">{{dat.role_name}} </option>
                    {%endfor%}
                  </select>
                </div>
                <span class="help-block" id="error"></span>
              </div>
              <div class="form-group">
               <div class="input-group">
                 <div class="input-group-addon"><span class="fa fa-bars"></span></div>
                 <select class="form-control" data-live-search="true" tabindex="-1" aria-hidden="true" name="mall_id" id="mall_id" multiple="multiple" >
                  {% for dat in mall %}
                  <option value="{{dat.id}}" >{{dat.mall_name}} </option>
                  {%endfor%}
                </select>
              </div>
              <span class="help-block" id="error"></span>
            </div>


          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-secondary" onclick="window.location='/statistics/statistics/user/'"><span class="fa fa-reply"></span> Cancel</button>
        <button type="submit" class="btn btn-success pull-right"><span class="fa fa-paper-plane-o"></span> Crear</button>
      </div>
    </div>
  </div>
</div>



</form>
</div>

</div>


<script>
 "use strict";
 $('#mall_id').multiselect();
</script>

<script>
  //metodo para validar
  $('document').ready(function()
  {
   // name validation
   var nameregex = /^[a-zA-Z ]+$/;

   $.validator.addMethod("validname", function( value, element ) {
     return this.optional( element ) || nameregex.test( value );
   });

   // valid email pattern

   $.validator.addMethod("validemail", function( value, element ) {
     return this.optional( element ) || /(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))+/.test( value );
   });


   $("#register-form").validate({

    rules:
    {
      first_name: {
       required: true,
       validname: true,
       minlength: 3
     },
      last_name: {
       required: true,
       validname: true,
       minlength: 3
     },
     email: {
       required: true,
       validemail: true
     },
     cellphone:{
      required: true
     },
     password: {
       required: true,
       minlength: 8,
       maxlength: 15
     },
     cpassword: {
       required: true,
       equalTo: '#password'
     },
     mall_id:{
      required: true
     },
     role_id:{
      required: true
     },
   },
   messages:
   {
      first_name: {
       required: "Por favor ingrese el nombre",
       validname: "El nombre debe contener solo alfabetos y espacio",
       minlength: "Tu nombre es muy corto"
     },
      last_name: {
       required: "Por favor ingrese el apellido",
       validname: "El apellido debe contener solo alfabetos y espacio",
       minlength: "Tu nombre es muy corto"
     },
      email: {
       required: "Por favor ingrese un correo",
       validemail: "Ingresa un correo valido"
     },
      cellphone:{
        required: "Por favor ingrese un numero de Telefono",
       },
      password:{
       required: "Por favor ingrese la contraseña",
       minlength: "La contraseña debe tener al menos 8 caracteres"
     },
      cpassword:{
       required: "Por favor repita la contraseña",
       equalTo: "Contraseña no coincide !"
     },
      mall_id:{
        required: "Por favor al menos 1 centro comercial",
       },
      role_id:{
        required: "Por favor seleccione un tipo de usuario",
     }
 },
 errorPlacement : function(error, element) {
   $(element).closest('.form-group').find('.help-block').html(error.html());
 },
 highlight : function(element) {
   $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
 },
 unhighlight: function(element, errorClass, validClass) {
   $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
   $(element).closest('.form-group').find('.help-block').html('');
 },

 submitHandler: function(form) {
  form.submit();
  //alert('ok');
}
});
 })
</script>

{% endblock %}
