{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


<div class="wrapper-content">
  <div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Localización de Cámaras</h3>
        <p>Modulo para identificar de manera gráfica la ubicación de las cámaras</p>
      </div>
    </div><br><br>
  				<div class="col-md-4 ">
                 <div class="form-group">
                     <div class="input-group">
                     <div class="input-group-addon"><span class="fa fa-bars"></span></div>
                     <select class="form-control" data-live-search="true" tabindex="-1" aria-hidden="true" name="mall_id" id="mall_id">
                      <option value="">Seleccione el Mall</option>
                      {% for data in mall %}
                       <option value="{{data.id}}">{{data.mall_name}}</option> 
                       {% endfor %}
                     </select>
                   </div>
                   </div>
                   </div>
  
    <center>
      <!-- <div class="easyzoom easyzoom--overlay img-thumbnail"> -->
        <div id="div_map"></div>
      <!-- </div> -->
    </center>

<script type="text/javascript">

	$("#mall_id").change(function(){
		var parametros = {
	        "mall_id" : $("#mall_id").val(),
	        "csrfmiddlewaretoken": '{{ csrf_token }}'
    	};
    	
		$.ajax({
	        data:  parametros,
	        url:   '../../statistics/maps/',
	        type:  'post',
	        success:  function (response) {
	        	var data = JSON.parse(response);
                    var div_map = $('#div_map');
                    div_map.html('');
                    $.each(data, function( index, value ) {
                    var easyzoom_id = value['easyzoom_id'];
                    var easyzoom_id_= '#'+easyzoom_id;
                    var route = value['route'];
                    var map_name = value['map_name'];

                    div_map.append('<h3>'+map_name+'</h3><br><div id='+easyzoom_id+' class="easyzoom easyzoom--overlay img-thumbnail"><a href="'+route+'"><img src="'+route+'" alt="" width="700" height="420"/></a></div><br><br>');

                    var easyzoom = $(easyzoom_id_).easyZoom();
                    var api1 = easyzoom.data('easyZoom');
                    });
			}
		});
	});
  
</script>


{%endblock%}