

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Seleccione un tipo de vista para el dashboard</h5>
        
      </div>
      <div class="modal-body">
        <table class="table color_pick_table mb-0">
          <thead>
            <tr>
              <th class="p-0"></th>
              <th class="p-0"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="">Fills</td>
              <td>

                  <div class="tab-content ">
                      <div class="tab-pane active" id="fullcolored" role="tabpanel">
                          <label class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input select-color" data-color="light_adminux" name="color_pick">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description"><span>Diaria</span></span> 
                          </label>   
                          <label class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input select-color" data-color="lightblue_adminux" name="color_pick">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description"><span>Semanal</span></span> 
                          </label>   
                          <label class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input select-color" data-color="dark_blue_adminux" name="color_pick" >
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description"><span>Mensual</span></span> 
                          </label>
                          <label class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input select-color" data-color="dark_purple_adminux" name="color_pick">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description"><span>Anual</span></span> 
                          </label>
                      </div>
                    </div>
                      
                </td>
            </tr>
          </tbody>
        </table>
        
        <button type="button" class="btn btn-primary" id="" data-dismiss="modal" aria-label="Close">Guardar</button>
        <button type="button" class="btn btn-warning" id="" data-dismiss="modal" aria-label="Close">Cancelar</button>

      </div>
    </div>
  </div>