
<div style="margin-top: 30px">
	<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModalOn" data-whatever="@mdo" style="margin-right: 30px" id="buttonX1">Encender</button>
	{%if request.session.user_id == 1 or request.session.user_id == 19%}
	<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#myModalOff" data-whatever="@mdo" id="buttonX2">Apagar</button>
	{%endif%}  
</div> 

<script>
	function setModalvalue(id,idButton,name,mall_id){
		$('#'+idButton).attr('onclick','set_action_deactivate('+id+','+mall_id+')');
		$('.camera_name').html(name);
	};

	function setModalOnvalue(id,idButton,name,mall_id){
		$('#'+idButton).attr('onclick','set_action_activate('+id+','+mall_id+')');
		$('.camera_name').html(name);
	};

	$('#buttonX1').click(setModalOnvalue({{camera_id}},'modal1Encender','{{result_camera_name}}',{{mall_id}}));
	$('#buttonX2').click(setModalvalue({{camera_id}},'modal1Apagar','{{result_camera_name}}',{{mall_id}}));
</script>