{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% block extrahead %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" rel="stylesheet"/>
{% endblock %}


<div class="wrapper-content">
  <div class="container">
      <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Reportes</h3>
        <p>Modulo para generar reportes de datos en histórico</p>
      </div>
    </div>
     <br>
     <!-- ///////////////////////////////////////////////////////////// Grafico//////////////////////////////////////// -->
     <form id='agregar' action="{% url 'statistics:report_networking' %}" method="post">
      {% csrf_token %}

      <div class="row justify-content-center">
        <div class="col-8">
          <div class="card full-screen-container">
            <div class="card-header " style="border-bottom: none;">

              <div class="table-responsive" >
                <table class="table table-bordered">
                  <thead>
                    <tr style="font-size: 12">
                      <th>Dato</th>
                      <th style="color: #03a9f5">Entradas</th>
                    </tr>
                  </thead>
                  <tbody id="cuadro_detalle">
                    <tr>
                      <td>Sin Dato</td>
                      <td>0</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-16">
          <div class="card full-screen-container">
            <div class="card-header">
              <div class="row align-items-center justify-content-between">

                <div class="col-6 col-sm-4 col-md-4 col-lg-2" style="margin-right:auto;">
                  <label>Entradas</label>
                  <select id="type_report" name="type_report">
                    <option value="1" selected="selected">ANUALES</option>
                    <option value="2">MENSUALES</option><!--Entradas x Mes-->
                    <option value="3">POR ACCESO</option><!--Entradas x Accesos-->
                    <option value="4">MENSUALES POR DIA</option><!--Entradas del Mes x Dia-->
                    <option value="5">POR DIA Y HORA</option><!--Entradas x Dia/Hora-->          
                  </select>
                </div>

                <div class="col-6 col-sm-4 col-md-4 col-lg-2 offset-md-1" style="margin-right:auto;">
                  <label>C.C</label>
                  <select id="mall_cd" name="mall_cd" >

                    {% if request.session.role_id != 2 %}
                    <option value="consolidado">CONSOLIDADO FVI</option>
                    {% endif %}
                    {% for data in mall %}
                    <option value="{{data.id}}">{{data.mall_name}}</option> 
                    {% endfor %}

                  </select>
                </div>

                <div class="col-6 col-sm-5 col-md-3 col-lg-2 offset-md-1" style="margin-right:auto;" >
                  {% if request.session.role_id != 2 %}
                  <label id = "name_door" style="display:none">Acceso</label>
                  <div id ="show_door" style="display:none"></div>
                  {% else %}
                  <label id = "name_door" style="display:none">Acceso</label>
                  <select id="door" name="door">
                    <option value="todas">TODOS LOS ACCESOS</option>
                    {% for data in door %}
                    <option value="{{data.id}}">{{data.door_name}}</option> 
                    {% endfor %}           
                  </select>
                  {% endif %}
                </div>


                <div class="col-6 col-sm-5 col-md-4 col-lg-2 offset-1" style="margin-right:auto;">
                  <label class="col-form-label">Desde</label>
                  <input class="form-control"  placeholder="Fecha Inicio" id="date1" name="date1" readonly>
                </div>

                <div class="col-6 col-sm-5 col-md-4 col-lg-2" style="margin-right:auto;" >
                  <label class="col-form-label">Hasta</label>
                  <input class="form-control"  placeholder="Fecha Fin" id="date2" name="date2" readonly>
                </div>               
                <br> 
              </div>
            </div>
            
            <div class="card-block" style="border-top: 1px solid #d3e2f0;">
              <ul class="nav nav-pills card-header-pills pull-right">
                  <li class="nav-item">
                    <button type="submit" class="btn btn-sm btn-outline-primary btn-round"><i class="fa fa-cloud-download"></i> <span class="text">Export</span></button>
                  </li>
                  <li class="nav-item">
                    <button id="print" type="button" class="btn btn-sm btn-outline-primary btn-round"><i class="fa fa-eye"></i> View</button>
                  </li>
                  <li class="nav-item">
                    <button type="reset" id="reset-button" class="btn btn-sm btn-link btn-round" ><i class="fa fa-refresh"></i></button>
                  </li>
                  <li class="nav-item">
                  </li>
                </ul>
              <canvas id="linechart" style=" height:300px !important"></canvas>
            </div>
          </div>
        </div>
      </div>
    </form>


    <!-- //////////////////////////////////////////////////// Fin//////////////////////////////////////////////////////// -->


  </div>

</div>
</div>


{% block extrascript %}
<script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dashboard2.js' %}" type="text/javascript"></script> 
<script src="{% static 'vendor/chartjs/utils.js' %}" type="text/javascript"></script> 
<script src="{% static 'js/dashboard/report.js' %}" type="text/javascript"></script> 
{% endblock %}


{% endblock %}