{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="wrapper-content">
  <div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3 style="font-family: 'Palatino', sans-serif;">Crear Tarea Programada</h3>

      </div>

    </div>
    <form role="form" id='register-form' action="" method="post" class="form-horizontal form-label-left input_mask" autocomplete="off">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-16">
          <div class="card">
            <div class="card-block">
              <h5 class="m-0">Información</h5>
              <hr> 
              <div class="row justify-content-center">
                <div class="col-md-10 ">
                  <div class="form-group">
                   <div class="input-group">
                     <div class="input-group-addon"><span class="fa fa-camera"></span></div>
                     <select class="form-control" data-live-search="true" tabindex="-1" aria-hidden="true" name="type_cron" id="type_cron" >
                      <option value="">Seleccione</option>
                      <option value="1">Encendido de Camaras</option>
                      <option value="0">Apagado de Camaras</option>
                      
                     </select>
                   </div>
                   <span class="help-block" id="error"></span>
                 </div>
                  <div class="form-group">
                   <div class="input-group">
                     <div class="input-group-addon"><span class="fa fa-calendar"></span></div>
                     <select class="form-control" data-live-search="true" tabindex="-1" aria-hidden="true" name="hour_id" id="hour_id" >
                      <option value="">Seleccione</option>
                      {% for data in hour %}
                       <option value="{{data.id}}">{{data.current_hour}}</option> 
                       {% endfor %}
                     </select>
                   </div>
                   <span class="help-block" id="error"></span>
                 </div>
                 <div class="form-group">
                   <div class="input-group">
                     <div class="input-group-addon"><span class="fa fa-bars"></span></div>
                     <select class="form-control" data-live-search="true" tabindex="-1" aria-hidden="true" name="mall_id" id="mall_id" >
                      <option value="">Seleccione</option>
                      {% for data in mall %}
                       <option value="{{data.id}}">{{data.mall_name}}</option> 
                       {% endfor %}
                     </select>
                   </div>
                   <span class="help-block" id="error"></span>
                 </div>

               </div> 
             </div>
           </div>
           <div class="card-footer">

            <button type="submit" class="btn btn-success pull-right"><span class="fa fa-paper-plane-o"></span> Crear</button>
          </div>   
        </div>
      </div>
    </div>



  </form>
</div>

</div>



<script>

  //metodo para validar
  $('document').ready(function()
  {    

   $("#register-form").validate({

    rules:
    {
      hour_id: {
       required: true
     },
     type_cron: {
       required: true
     },
     mall_id: {
       required: true
     },

   },
   messages:
   {

    hour_id:{
      required: "Por favor ingrese una hora",
    },
    type_cron:{
      required: "Por favor ingrese tipo de tarea",
    },
    mall_id: {
       required: "Por favor seleccione un Centro Comercial",
     },
  },
  errorPlacement : function(error, element) {
   $(element).closest('.form-group').find('.help-block').html(error.html());
 },
 highlight : function(element) {
   $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
 },
 unhighlight: function(element, errorClass, validClass) {
   $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
   $(element).closest('.form-group').find('.help-block').html('');
 },

 submitHandler: function(form) {
  form.submit();
  //alert('ok');
}
}); 
 })
</script>

{%endblock%}