<thead>
	<tr style="font-size: 12px">
	<th>Centro Comercial</th>
	{% if show_entry == '1' %}
     <th style="color: #03a9f5">Entradas</th>
    {% endif %}
    {% if show_exit == '1' %}
     <th style="color: #8cc34b">Salidas</th>
    {% endif %}
	<th style="width: 200px">Fecha</th>
	</tr>
</thead>
<tbody>
	<tr style="font-size: 12">
	{% for data in list %}
	<tr style="font-size: 12px">
	<td>{{data.mall_name}}</td>
	{% if show_entry == '1' %}
    <td>{{data.entry}}</td>
    {% endif %}
    {% if show_exit == '1' %}
    <td>{{data.exit}}</td>
    {% endif %}
	<td>Del {{date_start}} al {{date_end}}</td>
	</tr>
{%endfor%}
</tbody>