<thead>
  <tr style="font-size: 12px">
    <th>Centro Comercial</th>
    {% if show_entry == '1' %}
     <th style="color:#FFC107;font-weight:bold;">Entradas de la semana</th>
    {% endif %}
    {% if show_exit == '1' %}
     <th style="color:#F44336;font-weight:bold;">Salidas de la semana</th>
    {% endif %}
    <!--  {% if show_anio == '1' %}
     <th>Año</th>
    {% endif %}
     {% if show_month == '1' %}
     <th>Mes</th>
    {% endif %} -->
  </tr>
</thead>
<tbody>
{% for data in list %}
  <tr style="font-size: 12px; color:{{data.color}}">
    <td>{{data.mall_name}}</td>
    {% if show_entry == '1' %}
    <td>{{data.entry}}</td>
    {% endif %}
    {% if show_exit == '1' %}
    <td>{{data.exit}}</td>
    {% endif %}
   <!--  <td>{{data.date}}</td> -->
  </tr>
{%endfor%}
</tbody>