{%for data in listx %}
<tr>
	<td class="toHide">{{data.role_id}}</td>
	<td>{{data.first_name|title}}</td>
	<td>{{data.last_name|title}}</td>
	<td>{{data.role_name|title}}</td>
	<td>{% for dat in data.mall %}{{dat|title}}{% endfor %}</td>

	{%if data.active == True %}
	<td><a href="{%url 'statistics:user_update' data.user_id %}"><button class="btn btn-success btn-round mr-2"><i class="fa fa-edit"></i></button></a>
		<a href="{%url 'statistics:user_status' data.user_id 1 %}"><button class="btn btn-danger mr-2 btn-round" onclick="return confirm('¿Esta seguro que desea desactivar a {{data.first_name}}  {{data.last_name}}?')"><i class="fa fa-close"></i></button></a></td>
		{% else %}
		<td><a href="{%url 'statistics:user_status' data.user_id 2 %}"><button class="btn btn-info mr-2 btn-round" onclick="return confirm('¿Esta seguro que desea activar a {{data.first_name}}  {{data.last_name}}?')"><i class="fa fa-check"></i></button></a></td>
	</tr>
	{%endif%}

	{% endfor %}