{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="wrapper-content">
  <div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Gestión de Usuarios</h3>
        <p>Modulo para editar usuarios</p>
      </div>
    </div>
    <form role="form" id='register-form' action="" method="post" class="form-horizontal form-label-left input_mask" autocomplete="off">
      {% csrf_token %}

      <div class="row">
        <div class="col-sm-16">
          <div class="card">
            <div class="card-block">
              <h5 class="m-0" id="ajam">Información personal</h5>
              <hr> 
              <div class="row justify-content-center">
                <div class="col-md-10 ">
                  <div class="form-group">
                   <div class="input-group">
                     <div class="input-group-addon"><span class="fa fa-user"></span></div>
                     <input type="text" class="form-control" placeholder="Nombre" id="first_name" name="first_name" value="{{i.first_name}}">
                   </div>
                   <span class="help-block" id="error"></span>
                 </div>
                 <div class="form-group">
                   <div class="input-group">
                     <div class="input-group-addon"><span class="fa fa-user"></span></div>
                     <input type="text" class="form-control" placeholder="Apellido" id="last_name" name="last_name" value="{{i.last_name}}">
                   </div>
                   <span class="help-block" id="error"></span>
                 </div>
                 <div class="form-group">
                   <div class="input-group">
                     <div class="input-group-addon"><span class="fa fa-envelope"></span></div>
                     <input type="email" class="form-control" placeholder="Correo" id="email" name="email" value="{{i.email}}">
                   </div>
                   <span class="help-block" id="error"></span>
                 </div>
                 <div class="form-group">
                   <div class="input-group">
                     <div class="input-group-addon"><span class="fa fa-mobile"></span></div>
                     <input type="text" class="form-control" maxlength="11" placeholder="Telefono" id="cellphone_number" name="cellphone_number" value="{{i.cellphone_number}}">
                   </div>
                   <span class="help-block" id="error"></span>
                 </div>
                 <div class="form-group">
                   <div class="input-group">
                     <div class="input-group-addon"><span class="fa fa-key"></span></div>
                     <input type="password" class="form-control" placeholder="Contraseña" id="password" name="password">
                   </div>
                   <span class="help-block" id="error"></span>
                 </div>
                 <div class="form-group">
                   <div class="input-group">
                     <div class="input-group-addon"><span class="fa fa-key"></span></div>
                     <input name="cpassword" type="password" class="form-control" placeholder="Repetir Contraseña">
                   </div>
                   <span class="help-block" id="error"></span>
                 </div>
                 <div class="form-group">
                   <div class="input-group">
                     <div class="input-group-addon"><span class="fa fa-bars"></span></div>
                     <select class="form-control" data-live-search="true" tabindex="-1" aria-hidden="true" name="role_id" id="role_id" > 
                        <option value="">Seleccione</option>
                        {% for dat in rol %}
                          <option value="{{dat.id}}"
                          {%if i.role_id == dat.id%}
                            selected="selected"
                          {%endif%}>
                          {{dat.role_name}}
                          </option>
                        {%endfor%}
                  </select>
                </div>
                <span class="help-block" id="error"></span>
              </div>
              <div class="form-group">
               <div class="input-group">
                 <div class="input-group-addon"><span class="fa fa-building"></span></div>
                  
                  <div id="select_multiple">
                    <select class="form-control" data-live-search="true" tabindex="-1" aria-hidden="true" name="mall_id" id="mall_id_multi" multiple="multiple">
                    {% for dat in mall %}
                      <option value="{{dat.id}}"
                      {%if dat.id in i.mall%}
                        selected="selected"
                      {%endif%}>
                        {{dat.mall_name}}
                      </option>
                    {%endfor%}
                    </select>
                  </div>

                  <div id="select_single">  
                    <select class="form-control" data-live-search="true" tabindex="-1" aria-hidden="true" name="mall_id" id="mall_id_single">
                    {% for dat in mall %}
                      <option value="{{dat.id}}"
                      {%if dat.id in i.mall%}
                        selected="selected"
                      {%endif%}>
                        {{dat.mall_name}}
                      </option>
                    {%endfor%}
                    </select>
                  </div>

            </div>
            <span class="help-block" id="error"></span>
          </div>


        </div>

      </div>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-secondary" onclick="window.location='/statistics/statistics/user/'"><span class="fa fa-reply"></span> Cancel</button>
      <button type="submit" class="btn btn-success pull-right"><span class="fa fa-paper-plane-o"></span> Editar</button>
    </div>    
  </div>
</div>
</div>


<input type="hidden" name="id" id="id" value="{{user_id}}"/>

</form>
</div>

</div>


{% block extrascript%}
<script src="{% static 'js/dashboard/user_edit.js' %}" type="text/javascript"></script>

{% endblock %}

{%endblock%}