{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style type="text/css">
.toHide
{
 display: none;
}
</style>
<div class="wrapper-content">
 <div class="container">
  <div class="row  align-items-center justify-content-between">
      <div class="col-11 col-sm-12 page-title">
        <h3>Gestión de Usuarios</h3>
        <p>Modulo para agregar/editar e inactivar usuarios</p>
      </div>
    </div>
  <div class="row">
    <div class="col-16">
      <div class="card full-screen-container">
        <div class="card-header align-items-start justify-content-between flex">
          <select id="mall">
            {% if request.session.role_id != 2 %}
            <option value="fvi" selected>FIV</option>
            {% endif %}
            {% for data in query_mall %}
            <option value="{{data.id}}">{{data.mall_name}}</option> 
            {% endfor %} 
          </select> 
          <ul class="nav nav-pills card-header-pills pull-right">
            <li class="nav-item">
             <a href="{%url 'statistics:form_user'%}"><button type="button" class="btn btn-primary" style="background-color: #000c18; border-color: #000c18">Crear Usuario</button></a>
           </li>
         </ul>
       </div>

       <table class="table" id="dataTables-example">
        <thead>
          <tr>
            <th class="toHide"></th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Rol</th>
            <th>C.Comerciales</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody id="users_list">
          {%for data in listx %}
          <tr class="odd">
            <td class="toHide">{{data.role_id}}</td>
            <td class="center">{{data.first_name|title}}</td>
            <td class="center">{{data.last_name|title}}</td>
            <td class="center">{{data.role_name|title}}</td>
            <td class="center">{% for dat in data.mall %}{{dat|title}}{% endfor %}</td>
            
            {%if data.active == True %}
            <td><a href="{%url 'statistics:user_update' data.user_id %}"><button title="Editar usuario" class="btn btn-success btn-round mr-2"><i class="fa fa-edit"></i></button></a>
              <a href="{%url 'statistics:user_status' data.user_id 1 %}"><button title="Desactivar usuario" class="btn btn-danger mr-2 btn-round" onclick="return confirm('¿Esta seguro que desea desactivar a {{data.first_name}}  {{data.last_name}}?')"><i class="fa fa-close"></i></button></a></td>
            {% else %}
             <td><a href="{%url 'statistics:user_status' data.user_id 2 %}"><button title="Activar Usuario" class="btn btn-info mr-2 btn-round" onclick="return confirm('¿Esta seguro que desea activar a {{data.first_name}}  {{data.last_name}}?')"><i class="fa fa-check"></i></button></a></td>
          </tr>
            {%endif%}
           
          {% endfor %}

        </tbody>
      </table>



    </div>
  </div>
</div> 
</div>
</div>




<script type="text/javascript">

  $(document).ready(function(){
// Funcion multiselect
$('#mall').multiselect({
  buttonWidth: '20%',
  onChange: function(option, checked, select) {
    var parametros = {
      "mall_id" : $("#mall").val(),
      "csrfmiddlewaretoken": '{{ csrf_token }}'
    };
    $.ajax({
      data:  parametros,
      url:   '../../statistics/user/filter_user/',
      type:  'post',
      success:  function (response) {
        $("#users_list").html(response);
      }
    });

  } 
});

});

</script>

<script>
  "use strict";
  $(document).on('ready', function() {
    $('#dataTables-example').DataTable({
      responsive: true,
      pageLength:10,
      sPaginationType: "full_numbers",
      oLanguage: {
        oPaginate: {
          sFirst: "<<",
          sPrevious: "<",
          sNext: ">", 
          sLast: ">>" 
        }
      }
    });
  });
</script>

{%endblock%}
