<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="{% static 'js/jquery-2.1.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery-ui.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/bootstrap4alpha/js/tether.min.js' %}" ></script> 
<script src="{% static 'vendor/bootstrap4alpha/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.validate.min.js' %}" ></script>
<!--Cookie js for theme chooser and applying it --> 
<script src="{% static 'vendor/cookie/jquery.cookie.js' %}"  type="text/javascript"></script>
<!-- Circular chart progress js --> 
<script src="{% static 'vendor/cicular_progress/circle-progress.min.js' %}" type="text/javascript"></script>
<!--sparklines js--> 
<script src="{% static 'vendor/sparklines/jquery.sparkline.min.js' %}" type="text/javascript' %}" ></script>
<!-- jvectormap JavaScript --> 
<script src="{% static 'vendor/jquery-jvectormap/jquery-jvectormap.js' %}" ></script> 
<script src="{% static 'vendor/jquery-jvectormap/jquery-jvectormap-world-mill-en.js' %}" ></script>   
<!-- chart js --> 
<script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}" type="text/javascript"></script> 
<script src="{% static 'vendor/chartjs/utils.js' %}" type="text/javascript"></script> 
<!-- spincremente js --> 
<script src="{% static 'vendor/spincrement/jquery.spincrement.js' %}" type="text/javascript"></script> 
<script src="{% static 'vendor/spincrement/jquery.spincrement.min.js' %}" type="text/javascript"></script> 
<!-- DataTables JavaScript --> 
<script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}" ></script> 
<script src="{% static 'vendor/datatables/js/dataTables.bootstrap4.js' %}" ></script> 
<script src="{% static 'vendor/datatables/js/dataTables.responsive.min.js' %}" ></script> 
<!--multiselct js--> 
<script src="{% static 'vendor/loumultiselect/js/jquery.multi-select.js" type="text/javascript" ></script> 
<!--bootstrap multiselct js--> 
<script src="{% static 'vendor/bootstrap-multiselect-master/dist/js/bootstrap-multiselect.js' %}" type="text/javascript"></script>
<!-- Morris Charts JavaScript --> 
<script src="{% static 'vendor/raphael/raphael.min.js' %}"></script> 
<!--script src="{% static 'vendor/morrisjs/morris-data.js' %}" ></script--> 
<script src="{% static 'vendor/morrisjs/morris.min.js' %}"></script> 
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
<!-- flexslider js --> 
<script src="{% static 'vendor/flexslider/jquery.flexslider-min.js' %}" type="text/javascript' %}"></script> 
<!--multiselct js--> 
<script src="{% static 'vendor/loumultiselect/js/jquery.multi-select.js' %}" type="text/javascript"></script> 
<!--bootstrap multiselct js--> 
<script src="{% static 'vendor/bootstrap-multiselect-master/dist/js/bootstrap-multiselect.js' %}" type="text/javascript"></script> 
<!-- custome template js --> 
<script src="{% static 'js/adminux.js' %}" type="text/javascript' %}" ></script> 
<script src="{% static 'js/dashboard1.js' %}" type="text/javascript' %}" ></script>
<script src="{% static 'js/dashboard2.js' %}" type="text/javascript' %}" ></script>
<script src="{% static 'js/dashboard1_light.js' %}" type="text/javascript' %}" ></script>
<!--EasyZoom Js-->
<script src="{% static 'js/easyzoom.js' %}" type="text/javascript' %}" ></script>
<!-- Date picker  js--> 
<!-- script type="text/javascript" src="{% static 'vendor/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js"></script --> 



<script type="text/javascript">
$(document).ready(function() {
    //Función para imponer el tiempo de estadía de los mensajes emergentes de la página.
    setTimeout(function() {
        $("#mensajes_almacenados").fadeOut(5000);
    },3500);

});
</script>
<!-- Fin del Codigo JAVASCRIPT -->

</body>
</html>

