<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/favicon.ico">
  <title>Fondo de Valores Inmobiliarios</title>
  <!-- Fontawesome icon CSS -->
  <link rel="stylesheet" href="/static/vendor/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/vendor/bootstrap4alpha/css/bootstrap.css" type="text/css">
  <!-- DataTables Responsive CSS -->
  <link href="/static/vendor/datatables/css/dataTables.bootstrap4.css" rel="stylesheet">
  <link href="/static/vendor/datatables/css/responsive.dataTables.min.css" rel="stylesheet">
  <!-- jvectormap CSS -->
  <link href="/static/vendor/jquery-jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet">
  <!-- Adminux CSS -->
  <link rel="stylesheet" href="/static/css/blue_header_sidebar_adminux.css" type="text/css">
  <!-- multiselect CSS -->
  <link rel="stylesheet" href="/static/vendor/loumultiselect/css/multi-select.css" type="text/css">
  <!-- Bootstrap multielect CSS -->
  <link rel="stylesheet" href="/static/vendor/bootstrap-multiselect-master/dist/css/bootstrap-multiselect.css" type="text/css">
  <!-- date picker CSS -->
  <link rel="stylesheet" href="/static/vendor/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.css"   type="text/css">
  <link rel="stylesheet" href="/static/css/jquery-ui.css"   type="text/css">
  <!-- Morris Charts CSS -->
  <link href="/static/vendor/morrisjs/morris.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/blue_header_sidebar_adminux.css" type="text/css">
  <!--EasyZoom CCS-->
  <link rel="stylesheet" href="/static/css/easyzoom.css" type="text/css">

  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css"
  integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw"
  crossorigin="anonymous">
  {% block extrahead %}{% endblock %}

  <body class="menuclose menuclose-right">
    <!-- Page Loader -->
    <div class="loader_wrapper align-items-center text-center">
      <div class="load7 load-wrapper">
        <img src="/static/img/logo.png" alt="" class="loading_img">
        <div class="loader"> Cargando... </div>
        <div class="clearfix"></div>
        <br>
      </div>
    </div>
    <!-- Page Loader Ends -->
    <header class="navbar-fixed">
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
        <div class="sidebar-left"> 
          {% if request.session.role_id != 3 %}
          <a class="navbar-brand imglogo" href="{% url 'statistics:statistics' %}"></a>
          <button class="btn btn-link icon-header mr-sm-2 pull-right menu-collapse" >
            <span class="fa fa-bars"></span> 
          </button>
          {% else %}
          <a class="navbar-brand imglogo"></a>
          {% endif %}
        </div>
        <div class="d-flex mr-auto"> &nbsp;</div>
        <div class="sidebar-right pull-right " >
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item">
              <label style="margin-top: 8px; color: white; font-size: 14px;"><label style="font-family: 'Palatino', sans-serif; font-size:16px">{{request.session.user_name}}</label></label>
            </li>
            <li><a href="{% url 'index:destroy_session' %}" class="btn btn-link icon-header" ><span class="fa fa-sign-out"></span></a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="sidebar-left">
      <ul class="nav flex-column in" id="side-menu">


        <li class="title-nav"><label style="font-family: 'Palatino', sans-serif;">MENU</label></li>
        {% if request.session.role_id != 3 %}
        
        <li class="nav-item ">
          <a href="javascript:void(0)" class="menudropdown nav-link">
            <label style="font-family: 'Palatino', sans-serif; font-weight: bold;">Dashboard<i class="fa fa-angle-down "></i></label></a>
            <ul class="nav flex-column nav-second-level ">
              <li class=" nav-item">
                <a  href="{%url 'statistics:statistics'%}" class="nav-link ">
                  <i class="fa fa-globe"></i><label style="font-family: 'Palatino', sans-serif;">Dashboard General</label>
                </a>
              </li>
              <li class="nav-item"><a class="nav-link" href="{%url 'statistics:networking'%}"><i class="fa fa-dashboard"></i><label style="font-family: 'Palatino', sans-serif;">Reportes</label></a></li>

              <li class="nav-item"><a class="nav-link" href="{%url 'statistics:maps'%}"><i class="fa fa-map-marker"></i><label style="font-family: 'Palatino', sans-serif;">Ver Mapas</label></a></li>

            </ul>

          </li>

          {% endif %}
          {% if request.session.role_id != 2 %}

          <li class="nav-item "> <a href="{%url 'statistics:cameras'%}" class="menudropdown nav-link"><label style="font-family: 'Palatino', sans-serif; font-weight: bold;">Apagar/Encender camaras</label></a>

          </li>

          {% endif %}

           

          <li class="nav-item "> <a href="javascript:void(0)" class="menudropdown nav-link"><label style="font-family: 'Palatino', sans-serif; font-weight: bold;">Configuración</label><i class="fa fa-angle-down "></i></a>
            <ul class="nav flex-column nav-second-level ">
             
             {% if request.session.role_id != 3 %}
              
              <li class=" nav-item"><a  href="{%url 'statistics:user'%}" class="nav-link "><i class="fa fa-user"></i> <label style="font-family: 'Palatino', sans-serif; ">Usuarios y operadores</label></a></li>
              
              {% endif %}
              
              <!-- {% if request.session.role_id != 2 %}

              <li class="nav-item "> <a href="javascript:void(0)" class="menudropdown nav-link"><label style="font-family: 'Palatino', sans-serif; font-weight: bold;">Tareas Programadas</label><i class="fa fa-angle-down "></i></a>
                <ul class="nav flex-column nav-second-level ">

                  <li class=" nav-item"><a  href="{%url 'statistics:cron'%}" class="nav-link "><i class="fa fa-pencil"></i> <label style="font-family: 'Palatino', sans-serif; ">Encendido y Apagado</label></a></li>

                </ul>
              </li> 
              {% endif %} -->


            </ul>
          </li>




        </ul>
        <br>
        <br>
      </div>



      {% include "index/mensajes.html" %}

