
<!--Muestra los mensajes almacenados -->
<div id="mensajes_almacenados" style="position:absolute; min-width:230px; z-index: 999999; margin:0px 0 0 37%;">
{% if messages %}
    <div class="messages">
    {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <!-- Sale color verde -->
           <div class="alert alert-success alert-dismissible fade in" role='alert'>
                <button class="close" type='button' data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <i class="fa fa-check-circle"></i>
                <strong> {{ message }}</strong>
            </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <!-- Sale color rojo -->
           <div class="alert alert-danger alert-dismissible fade in" role='alert'>
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <i class="fa fa-exclamation-triangle"></i>
                <strong> {{ message }}</strong>
            </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <!-- Sale color amarillo -->
           <div class="alert alert-warning alert-dismissible fade in" role='alert'>
                <button class="close" type='button' data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <i class="fa fa-exclamation-triangle"></i>
                <strong> {{ message }}</strong>
            </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <!-- Sale color azul -->
           <div class="alert alert-info alert-dismissible fade in" role='alert'>
                <button class="close" type='button' data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <i class="fa fa-info-circle"></i>
                <strong> {{ message }}</strong>
            </div>
        {% endif %}
        </div>
    {% endfor %}
    </div>
{% endif %}
</div>
