{%load staticfiles%}


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{% static 'img/Favicon Vikua/favicon.ico' %}">
<title>Fondo de Valores Inmobiliarios</title>
<!-- Fontawesome icon CSS -->
<link href="{% static 'vendor/font-awesome-4.7.0/css/font-awesome.min.css' %}" type="text/css" rel="stylesheet">
<!-- Bootstrap CSS -->
<link href="{% static 'vendor/bootstrap4alpha/css/bootstrap.css' %}" type="text/css" rel="stylesheet">
<!-- Adminux CSS -->
<link href="{% static 'css/blue_header_sidebar_adminux.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/personalized.css' %}" type="text/css" rel="stylesheet">
</head>

<body class="menuclose menuclose-right">
<figure class="background_small"> <img src="/static/img/login_bg.jpg" style="opacity: 0.9 !important"> </figure>
<!-- Page Loader -->
<div class="loader_wrapper align-items-center text-center">
  <div class="load7 load-wrapper">
    <img src="{% static 'img/FVI/VIKUA.png' %}" alt="" class="loading_img">
    <div class="loader"> Cargando... </div>
    <div class="clearfix"></div>
    <br>
  </div>
</div>
<!-- Page Loader Ends -->


<header class="navbar-fixed">
<nav class="navbar navbar-toggleable-md sign-in-header">
  <div class="sidebar-left">  <a class="navbar-brand imglogo"></a> </div>
  <div class="col"></div>
  <div class="sidebar-right pull-right" >

</nav>

</header>

<div class="wrapper-content-sign-in ">
{% include "index/mensajes.html" %}
  <div class="container text-center"><br><br>
    <form class="form-signin1 white" method="post">
    {% csrf_token %}
      <h2 class="tex-black mb-4">Iniciar Sesión</h2>
      <label  class="sr-only">Email</label>
      <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="Email address" id="email" name="email">
      </div>
      <br>
      <label class="sr-only">Password</label>
      <div class="input-group"> <span class="input-group-addon" ><i class="fa fa-key"></i></span>
        <input type="password" class="form-control" placeholder="Password" id="password" name="password">
      </div>
      <br>
      <!--div class="checkbox">
        <label class="form-check-label active">
          <input type="checkbox" class="form-check-input">
          <i class="fa fa-check"></i></label>
        Recordarme </div-->
      <button type="submit" class="btn btn-lg btn-primary btn-round">Iniciar sesión</button><br>
      <!--a href="" class="btn btn-link mt-2">Olvidaste la contraseña?</a-->
    </form>
   
  

  </div>
 
</div>
 

<!-- jQuery first, then Tether, then Bootstrap JS. -->

<script src="/static/js/jquery-2.1.1.min.js" type="text/javascript"></script>

<script src="/static/vendor/bootstrap4alpha/js/tether.min.js"></script> 

<script src="/static/vendor/bootstrap4alpha/js/bootstrap.min.js" type="text/javascript"></script> 

<!--Cookie js for theme chooser and applying it --> 
<script src="/static/vendor/cookie/jquery.cookie.js"  type="text/javascript"></script> 

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug --> <script src="/static/js/ie10-viewport-bug-workaround.js"></script> <script>
            "use strict";
            $('input[type="checkbox"]').on('change', function(){
                $(this).parent().toggleClass("active")
                $(this).closest(".media").toggleClass("active");
            }); 
        $(window).on("load", function(){
            /* loading screen */
            $(".loader_wrapper").fadeOut("slow");
        });
    </script>
</body>
</html>