{%load staticfiles%}


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{% static 'img/Favicon Vikua/favicon-192x192.png' %}">
<title>Kompanio</title>
<!-- Fontawesome icon CSS -->
<link rel="stylesheet" href="{% static 'vendor/font-awesome-4.7.0/css/font-awesome.min.css' %}" type="text/css">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'vendor/bootstrap4alpha/css/bootstrap.css' %}" type="text/css">

<!-- Adminux CSS -->
<link rel="stylesheet" href="{% static 'css/blue_header_sidebar_adminux.css' %}" type="text/css">
<link href="{% static 'css/personalized.css' %}" type="text/css" rel="stylesheet">
</head>
<body class="menuclose menuclose-right">
<figure class="background"> <img src="{% static 'img/FVI/Fondo-4.png' %}" alt="Adminux- sign in "> </figure>
<!-- Page Loader -->
<div class="loader_wrapper align-items-center text-center">
  <div class="load7 load-wrapper">
    <img src="{% static 'img/FVI/VIKUA.png' %}" alt="" class="loading_img">
    <div class="loader"> Cargando... </div>
    <div class="clearfix"></div>
    <br>
  </div>
</div>
<!-- Page Loader Ends -->


<header class="navbar-fixed">
  <div class="row">

    <nav class="navbar navbar-toggleable-md sign-in-header">
      <div class="sidebar-left">  <a class="navbar-brand imglogo" href="#"></a> </div>
      <div class="col"></div>
      <!--   <div class="sidebar-right pull-right" >
      <ul class="navbar-nav  justify-content-end">
      <li><a href="#" class="btn btn-link text-white" >Need Help ?</a></li>
      <li><a href="index.html" class="btn btn-primary " >Register</a></li>
    </ul>
  </div> -->
</nav>
  </div>
  <div class="row">
    {% include "index/mensajes.html" %}
  </div>
</header>

<div class="wrapper-content-sign-in p-0">


  <div class="row">
    <div class="col-md-8 col-lg-8 text-center vertical-center" id="partII">
      <div class="row-fixed">
        <img src="{% static 'img/FVI/Logo_Kompanio.png' %}" class="fit-image pull-right sha">

      </div>
    </div>
  </div>

    <div class="col-md-8 text-left side_signing_full">

      <form class="form-signin1 full_side text-white "  method="post" style="margin-top: 35%">
        {% csrf_token %}
        <h2 class="tex-black mb-4">Iniciar Sesión</h2>
        <label  class="sr-only">Email</label>
        <input type="text" class="form-control login" placeholder="Email" id="email" name="email">
        <br>
        <label class="sr-only">Password</label>
        <input type="password" class="form-control login" placeholder="Password" id="password" name="password">
        <br>
        {% now "H:i:s" as hour %}
        {% if hour < "10:00:00" %}
        <button type="button" class="btn btn-lg btn-primary btn-round" data-toggle="modal" data-target="#modal_hora">Iniciar sesión</button>
        {% else %}
        <button type="submit" class="btn btn-lg btn-primary btn-round">Iniciar sesión</button><br>
        {% endif %}
        <br>
        <br>
        <!-- <p class="mt-3"><a href="#" class="text-white">Signup here!</a> <br>
          <a href="" class="">Forgot password?</a></p> -->
      

      <br>
    </div>
  </div>

<footer class="footer-content row  justify-content-between align-items-center">
    <div class="col-sm-8"><!-- This template is designed by <a href="http://www.maxartkiller.in" target="_blank" class="">www.maxartkiller.in</a></div>
    <div class="col-sm-8 text-right"> --><label href="#" target="_blank" class="text-white">Vikua | Todos los derechos reservados | Vikua 2018</label>
  </footer>
</div>

<!-- Modal -->

<div class="modal dark_bg fade" id="modal_hora" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mensaje de Kompanio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body"> Estimado Usuario. La información que se mostrará en el dashboard
        a continuación, son datos totalizados para el día de ayer. El conteo del día de hoy comenzará
        a ejecutarse a partir de las 10am.
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-lg btn-primary btn-round">Iniciar sesión</button><br>
      </div>
    </div>
  </div>
</div>

</form>

<!-- jQuery first, then Tether, then Bootstrap JS. -->

<script src="{% static 'js/jquery-2.1.1.min.js' %}" type="text/javascript"></script>

<script src="{% static 'vendor/bootstrap4alpha/js/tether.min.js' %}"></script>

<script src="{% static 'vendor/bootstrap4alpha/js/bootstrap.min.js' %}" type="text/javascript"></script>

<!--Cookie js for theme chooser and applying it -->
<script src="{% static 'vendor/cookie/jquery.cookie.js' %}"  type="text/javascript"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug --> <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
<script>
            "use strict";
            $('input[type="checkbox"]').on('change', function(){
                $(this).parent().toggleClass("active")
                $(this).closest(".media").toggleClass("active");
            });
        $(window).on("load", function(){
            /* loading screen */
            $(".loader_wrapper").fadeOut("slow");
        });

//         function randombg(){
//            var random= Math.floor(Math.random() * 6) + 0;
//            var bigSize = ["url('{% static 'img/FVI/Fondo-1.png' %}')",
//                           "url('https://sobreturismo.es/wp-content/uploads/natur-canaima.jpg')",
//                           "url('https://upload.wikimedia.org/wikipedia/commons/6/6b/Bella_Caracas.JPG')",
//                           "url('http://imagenes.superate.com/blog/salto-angel-venezuela9.jpg')",
//                           "url('https://upload.wikimedia.org/wikipedia/commons/6/6b/Bella_Caracas.JPG')",
//                           "url('http://imagenes.superate.com/blog/salto-angel-venezuela9.jpg')"];
//            document.getElementById("random").style.backgroundImage=bigSize[random];
// }
    </script>
</body>
</html>
