{% load static %}

<!DOCTYPE html>
<html lang="en">
   {% include "head.html" %}
   
   <body class="menuclose menuclose-right">
      {% include "page-load.html" %} <!-- Loading -->
      {% include "index/mensajes.html" %} <!-- Messages -->

      {% include "header.html" %} <!-- Header -->      
      {% include "menu.html" %} <!-- Barra de navegacion izquierda -->

      {% include "script.html" %}

      {% block content %}{% endblock %}


      <script type="text/javascript">
      //Función para imponer el tiempo de estadía de los mensajes emergentes de la página.
         $(document).ready(function() {
            setTimeout(function() {
            $("#mensajes_almacenados").fadeOut(5000);
            },3500);
         });
      </script>
   </body>
</html>