 {% load static %}
 <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="{% static 'img/Favicon Vikua/favicon-192x192.png' %}">
      <title>Kompanio</title>
      <!-- Fontawesome icon CSS -->
      <link href="{% static 'vendor/font-awesome-4.7.0/css/font-awesome.min.css' %}" type="text/css" rel="stylesheet" >
      <!-- Bootstrap CSS -->
      <link href="{% static 'vendor/bootstrap4alpha/css/bootstrap.css' %}" type="text/css" rel="stylesheet">
      <!-- DataTables Responsive CSS -->
      <link href="{% static 'vendor/datatables/css/dataTables.bootstrap4.css' %}" type="text/css" rel="stylesheet">
      <link href="{% static 'vendor/datatables/css/responsive.dataTables.min.css' %}" type="text/css" rel="stylesheet">
      <!-- jvectormap CSS -->
      <link href="{% static 'vendor/jquery-jvectormap/jquery-jvectormap-2.0.3.css' %}" type="text/css" rel="stylesheet">
      <!-- Adminux CSS -->
      <link href="{% static 'css/dark_green_adminux.css' %}" type="text/css" rel="stylesheet">
      <!-- multiselect CSS -->
      <link href="{% static 'vendor/loumultiselect/css/multi-select.css' %}" type="text/css" rel="stylesheet">
      <!-- Bootstrap multielect CSS -->
      <link href="{% static 'vendor/bootstrap-multiselect-master/dist/css/bootstrap-multiselect.css' %}" type="text/css" rel="stylesheet">
      <!-- date picker CSS -->
      <link href="{% static 'vendor/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.css' %}" type="text/css" rel="stylesheet">
      <link href="{% static 'css/jquery-ui.css' %}" type="text/css" rel="stylesheet">
      <!-- Morris Charts CSS -->
      <link href="{% static 'vendor/morrisjs/morris.css' %}" type="text/css" rel="stylesheet">
      <!-- Font -->
      <link rel="stylesheet"
       href="{% static 'vendor/custom_font/font.css' %}">


      <!--EasyZoom CCS-->
      <link href="{% static 'css/easyzoom.css' %}" type="text/css" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css"
         integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw"
         crossorigin="anonymous"
         rel="stylesheet">

      <link href="{% static 'css/personalized.css' %}" type="text/css" rel="stylesheet">
      <!-- amCharts js -->
      <script src="{% static 'vendor/amCharts/amcharts/amcharts.js' %}" type="text/javascript"></script>
      <script src="{% static 'vendor/amCharts/amcharts/serial.js' %}" type="text/javascript"></script>
      <script src="{% static 'vendor/amCharts/amcharts/gauge.js' %}" type="text/javascript"></script>
      <script src="{% static 'vendor/amCharts/amcharts/themes/dark.js' %}" type="text/javascript"></script>

      {% block extrahead %}{% endblock %}
   </head>
