<header class="navbar-fixed">
   <nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
      <div class="sidebar-left"> 
         {% if request.session.role_id != 3 %}
         <a class="navbar-brand imglogo" href="{% url 'statistics:statistics' %}"></a>
         <button class="btn btn-link icon-header mr-sm-2 pull-right menu-collapse" >
         <span class="fa fa-bars"></span> 
         </button>
         {% else %}
         <a class="navbar-brand imglogo"></a>
         {% endif %}
      </div>
      {% now "H:i:s" as hour %}
      {% if hour < "10:00:00" %}
      <div class="d-flex mr-auto"><strong style="color:#FF005A">Atención!&nbsp</strong> La información visualizada corresponde al día de ayer.</div>
      {% else %}
      <div class="d-flex mr-auto"> &nbsp;</div>
      {% endif %}
      <div class="sidebar-right pull-right " >
         <ul class="navbar-nav  justify-content-end">
            <li class="nav-item">
               <label style="margin-top: 8px; color: white; font-size: 14px;"><label style="font-family: 'Palatino', sans-serif; font-size:16px">{{request.session.user_name}}</label></label>
            </li>
            <li><a href="{% url 'index:destroy_session' %}" class="btn btn-link icon-header" ><span class="fa fa-sign-out"></span></a></li>
         </ul>
      </div>
   </nav>
</header>