<div class="sidebar-left">

<br>
<ul class="nav flex-column in" id="side-menu">
  <li class="title-nav">MENU</li>
  {% if request.session.role_id != 3 %}
  <li class="nav-item "> <a href="{% url 'statistics:statistics' %}" class=" nav-link">Resumen</a>
  <li class="nav-item "> <a href="{%url 'statistics:networking'%}" class=" nav-link">Reportes</a>
    {% endif %}
    {% if request.session.role_id != 3 %}
  <li class="nav-item "> <a class="menudropdown nav-link">Configuración<i class="fa fa-angle-down "></i></a>
    <ul class="nav flex-column nav-second-level ">
      {% if request.session.role_id != 2 %}
      <li class=" nav-item"><a href="{%url 'statistics:cameras'%}" class="nav-link "><i class="fa fa-video-camera"></i> Device Managements</a></li>
      {% endif %}
      {% if request.session.role_id != 3 %}
      <li class="nav-item"><a class="nav-link" href="{%url 'statistics:user'%}"><i class="fa fa-user"></i> Usuarios y Operadores</a></li>
    </ul>
    {% endif %}
    <!-- /.nav-second-level -->
  </li>
  {% endif %}
  {% if request.session.role_id != 3 %}
  <li class="nav-item "> <a class="menudropdown nav-link">Información<i class="fa fa-angle-down "></i></a>
    <ul class="nav flex-column nav-second-level ">
      <li class=" nav-item "><a href="{%url 'statistics:maps'%}" class="nav-link"><i class="fa fa-map-pin"></i>Localización de camaras</a></li>
    </ul>
    <!-- /.nav-second-level -->
  </li>
{% endif %}

</ul>

<br>
<br>
</div>
