{% load static %}
<!-- Page Loader -->
   <div class="loader_wrapper align-items-center text-center">
      <div class="load7 load-wrapper">
         <img src="{% static 'img/FVI/VIKUA.png' %}" alt="" class="loading_img">
            <div class="loader"> Cargando... </div>
            <div class="clearfix"></div>
         <br>
      </div>
   </div>
<!-- Page Loader Ends -->