{% load static %}

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="{% static 'js/jquery-2.1.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery-ui.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/bootstrap4alpha/js/tether.min.js' %}" type="text/javascript"></script> 
<script src="{% static 'vendor/bootstrap4alpha/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.validate.min.js' %}" type="text/javascript"></script>
<!--Cookie js for theme chooser and applying it --> 
<script src="{% static 'vendor/cookie/jquery.cookie.js' %}"  type="text/javascript"></script>
<!-- Circular chart progress js --> 
<script src="{% static 'vendor/cicular_progress/circle-progress.min.js' %}" type="text/javascript"></script>
<!--sparklines js--> 
<script src="{% static 'vendor/sparklines/jquery.sparkline.min.js' %}" type="text/javascript" ></script>
<!-- jvectormap JavaScript --> 
<script src="{% static 'vendor/jquery-jvectormap/jquery-jvectormap.js' %}" type="text/javascript"></script> 
<script src="{% static 'vendor/jquery-jvectormap/jquery-jvectormap-world-mill-en.js' %}" type="text/javascript"></script>   

 
<!-- DataTables JavaScript --> 
<script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}" type="text/javascript"></script> 
<script src="{% static 'vendor/datatables/js/dataTables.bootstrap4.js' %}" type="text/javascript"></script> 
<script src="{% static 'vendor/datatables/js/dataTables.responsive.min.js' %}" type="text/javascript"></script> 
<!--multiselct js--> 
<script src="{% static 'vendor/loumultiselect/js/jquery.multi-select.js' %}" type="text/javascript"></script> 
<!--bootstrap multiselct js--> 
<script src="{% static 'vendor/bootstrap-multiselect-master/dist/js/bootstrap-multiselect.js' %}" type="text/javascript"></script>
<!-- Morris Charts JavaScript --> 
<script src="{% static 'vendor/raphael/raphael.min.js' %}" type="text/javascript"></script> 
<!--script src="{% static 'vendor/morrisjs/morris-data.js' %}"></script--> 
<script src="{% static 'vendor/morrisjs/morris.min.js' %}" type="text/javascript" ></script> 
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}" type="text/javascript" ></script>
<!-- flexslider js --> 
<script src="{% static 'vendor/flexslider/jquery.flexslider-min.js' %}" type="text/javascript"></script> 
<!--multiselct js--> 
<script src="{% static 'vendor/loumultiselect/js/jquery.multi-select.js' %}" type="text/javascript"></script> 
<!--bootstrap multiselct js--> 
<script src="{% static 'vendor/bootstrap-multiselect-master/dist/js/bootstrap-multiselect.js' %}" type="text/javascript"></script> 
<!-- custome template js --> 
<script src="{% static 'js/adminux.js' %}" type="text/javascript"></script> 
<!-- <script src="{% static 'js/dashboard1.js' %}" type="text/javascript"></script> -->
<!-- <script src="{% static 'js/dashboard1_light.js' %}" type="text/javascript"></script> -->
<!--EasyZoom Js-->
<script src="{% static 'js/easyzoom.js' %}" type="text/javascript"></script>
<!-- Date picker  js--> 
<!-- script type="text/javascript" src="/static/vendor/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js"></script -->

{% block extrascript %}{% endblock %}