/*=======================*/
/* project list css */
/*=======================*/
.project-list {
	max-height: 440px;
	overflow-y: auto;
color: $fontcolor1;
 .media {
 width: 100%;
height: 192px;
float:left;
margin: 10px 0;
color:$fontcolor3;
text-decoration: none;
padding:0px;
position: relative;
text-align: center;
background: lighten($main-background, 4%);
 &:nth-child(2n) {
margin-right: 0;
}
 .projectpic {
 width: 100%;
height: 100%;
overflow: hidden;
margin:0 auto 0px auto;
position: relative;
float: left;
background-clip: border-box;
 img {
width: auto;
max-width: 100%;
min-height: 100%;
opacity: 0.9;
background-clip: border-box;
}
}
 .overlay {
position: absolute;
height: 100.01%;
width: 50%;
padding: 10px;
vertical-align: middle;
display: flex;
right: 0;
top: 0px;
display: block;
opacity: 1;
text-align: left;
@include gradient(rgba(46, 199, 203, 0.8), rgba(108, 139, 239, 0.8));
      *{color:#ffffff !important}
 .description,p{
color:$fontcolor1;
margin-top: 10px;
font-size: 13px
}
 h6 {
 color:$fontcolor1;
width: 100%;
clear: both;
 small {
color:$fontcolor3;
}
}
 .btn {
padding: 0 20px;
height: 30px;
line-height: 26px;
text-align: center;
margin-top: 5px;
 i {
margin: 0 10px 0 0;
}
}
}
}
}