/* ===============================================================*/
/* ============= Resposnive css starts ============= */
/* ===============================================================*/

@media screen and (max-width: 768px) {
.form-signin1 {
 &.side {
max-width: 100%;
padding: 50px 30px;
}
}    
     .display-1{font-size: 4rem} 
     .display-2{font-size: 3rem} 
     .display-3{font-size: 2rem} 
     .display-4{font-size: 2rem} 
    .comment-list{ overflow-y: visible; height: auto !important}
}
 @media screen and (max-width: 1400px) {
.v-devider {
	display: none
}
header .search-header input[type="text"] {
	min-width: 150px; border-radius: 0;
}
header .sidebar-right, header .sidebar-left {
	width: auto
}
.wrapper-content {
	margin: 0 auto
}
body.rtl-read  .wrapper-content {
	margin: 0 auto
}

}
 @media screen and (max-width: 1279px) {
.project-list {
	max-height: none;
	overflow-y: visible
}
.fc-toolbar.fc-header-toolbar {
	margin-bottom: 0
}
.fc-toolbar {
	height: auto;
	margin-bottom: 0
}
.rtl-read{
    header .navbar, header .navbar-nav{ left: auto; right: auto; padding-right: 0 !important}
    header .btn.userprofile{ padding:0 !important; .userpic{position: relative} .text{display: none} }
}
}
 @media screen and (max-width: 1019px) {
.temperature {
	display: none
}
.navbar-nav, .navbar {
	flex-direction: row
}
.userprofile {
	padding-left: 0.5rem !important;
	width: 40px;
	display: block;
	vertical-align: middle;
}
.btn span.text {
	display: none
}
header .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: fixed; 
    top: 60px; 
    z-index: 8;
    left: 0; 
    right: 0; 
    margin: 0 auto; 
    width: 90%; 
    max-width: 500px;
}
.project-list .media {
	height: 220px
}
.wrapper-content {
	padding: 60px 0px 90px 0px
}
.footer-content {
	height: auto;
	text-align: center;
 * {
text-align: center !important
}
}
.mailboxnav {
	margin-left: -200px;
	position: absolute;
	height: 100%;
	overflow-y: auto;
	z-index: 99;
    background: $main-background;
    @include transition(0.5s, ease, all) 
    @include shadow(5px,0px, 10px,0px,rgba(0, 0, 0, 0.15)) ;
    &.mailboxnavopen {
        margin-left:0;
    }
}
     
.filemenu_wrapper{
    overflow: hidden;
    .filemenu {
        width: 250px;
        margin-left: -251px;
        position: absolute;
        height: 100%;
        overflow-y: auto;
        z-index: 99;
        background: $main-background;
        @include transition(0.5s, ease, all) 
        @include shadow(5px,0px, 10px,0px,rgba(0, 0, 0, 0.15)) ;
        &.filemenuopen {
            margin-left:0;
        }
    }
}
     
.profile-name {
	margin: 15px 0;
	text-align: center
}
.customer-profile-cover .social-profile-pic, .social-profile-cover .social-profile-pic {
	margin: 0 auto;
}
.profile-name+div {
	text-align: center !important
}
.customer-profile-cover {
	height: auto
}
.profile-name+div h4 {
	font-size: 15px;
}
.profile-name+div h2 {
	font-size: 18px;
}
.userpic{ position: relative;}
.userprofile{ padding-top: 0}
}
 @media screen and (max-width: 767px) {
header .btn {
	padding: 0.5rem 0.65rem
}
.message-container {
	width: 240px;
	margin-left: -120px;
 &.box-links {
 > div > .media {
width: 50%
}
}
.message_userpic {
	width: 30px;
	height: 30px
}
}
.page-title {
	padding-top: 20px;
	padding-bottom: 20px;
 h3 {
font-size: 20px;
}
p {
	font-size: 12px;
}
 +div .btn {
padding: 0.5rem;
text-align: center
}
}
.btn {
	padding: 0.5rem;
}
.post-options {
	padding: 0;
}
.btn i, .btn .fa {
	margin: 0 2px !important
}
.footer-content {
	line-height: 20px;
	padding: 10px 15px
}
.container_wizard.wizard-thin .stepwizard .stepwizard-step a span.btn-round {
	height: 40px;
	line-height: 34px;
	width: 18px;
	font-size: 16px;
}
.container_wizard.wizard-box .stepwizard .stepwizard-step a p, .container_wizard.wizard-bordered .stepwizard .stepwizard-step a p, .container_wizard.wizard-thin .stepwizard .stepwizard-step a p {
	font-size: 12px;
	line-height: 18px;
small {
font-size: 10px;
}
}
.timeline_large > li > .timeline-panel {
	width: 90%;
	float: right;
}
.timeline_large > li > .timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}
.timeline_large > li > .timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}
.timeline_large > li .timeline-badge, .timeline_large:before {
	left: 3%
}
     header .btn.userprofile{ padding-top: 0}
     .form-signin1{ padding: 40px;}
     header .navbar .navbar-brand {
      font-size: 16px;
      
}
.navbar-brand.imglogo{ width: 46px}
     
.rtl-read{
    header .sidebar-right{ left: auto; right: auto; padding-right: 0 !important; width: auto}
    header .navbar, header .navbar-nav{ left: auto; right: auto; padding-right: 0 !important}
    header .btn.userprofile{ padding:0 !important}
}   
.loader_wrapper .loading_img {
    max-width: 280px;
}   
}